@import "../../shared/theme/variable.scss";

//school-card css......
.bg-content {
  background: $primary-color;
  // border-bottom-left-radius: 48% 20%;
  // border-bottom-right-radius: 48% 20%;
  width: 100%;
  height: 300px;
}

.title {
  h1 {
    font-family: "open-sans-bold" !important;
    width: 100%;
  }

  p {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 500;
  }
}

.fancard-details {
  margin-top: 30px;
}
