<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mynavbar">
    <div class="container">
        <a class="navbar-brand" href="#"><img class="logo" src="./assets/header/logo1.png"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
            <div>
                <div class="reponsive">
                    <!-- <button type="button" [routerLink]="['/school-signup']" routerLinkActive="router-link-active" class="btn btn-light school-btn mt-2">
                        School Sign Up
                    </button> -->
                    <button type="button" [routerLink]="['/login']" routerLinkActive="router-link-active" class="btn btn-light school-btn signin-btn mt-2">
                        Sign In
                    </button>
                    <!-- <button type="button" [routerLink]="['/business-signup']" routerLinkActive="router-link-active" class="btn btn-light school-btn mt-3">
                        Business Sign Up
                    </button> -->
                    <button type="button" [routerLink]="['/create-account']" routerLinkActive="router-link-active" class="btn btn-light school-btn mt-3">
                        Sign Up
                    </button>
                </div>
                <ul class="navbar-nav text-center ml-auto">
                    <li class="nav-item  p-2">
                        <a class="nav-link" routerLink="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <!-- <li class="nav-item p-2">
                  <a class="nav-link" href="#">How it works</a>
                </li>  -->
                    <li class="nav-item p-2">
                        <a class="nav-link" routerLink="/schools" routerLinkActive="active">Schools</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link" routerLink="/event-attended" routerLinkActive="active">Event Attended</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link" routerLink="/deals" routerLinkActive="active">See
                            Deals</a>
                    </li>
                    <!-- <li class="nav-item p-2">
                        <a class="nav-link" routerLink="/business-signup" routerLinkActive="active">Businesses</a>
                    </li> -->
                    <li class="nav-item p-2">
                        <a class="nav-link" routerLink="/about-us" routerLinkActive="active">About</a>
                    </li>

                    <li class="nav-item p-2 reponsive-li">
                        <!-- <a class="nav-link" routerLink="/school-signup" routerLinkActive="active"> School signup</a> -->
                        <a class="nav-link" routerLink="/login" routerLinkActive="active">Sign In</a>
                    </li>
                    <li class="nav-item p-2 reponsive-li">
                        <!-- <a class="nav-link" routerLink="/business-signup" routerLinkActive="active">Business Signup</a> -->
                        <a class="nav-link" routerLink="/create-account" routerLinkActive="active">Sign Up</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>