@import "../../../shared/theme/variable.scss";
.bg-content {
    background: url('/assets/section-1/banner.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

button {
    outline-color: #fff !important;
}

.logo {
    width: 200px;
}

.school-btn {
    border-radius: 100px;
    margin: 10px;
    display: inline-block;
    vertical-align: baseline;
    // new css
    padding: 10px 50px;
}

.signin-btn {
    background-color: #1267db; 
    border: 0px;
    color: #ffffff;
}

a {
    font-size: 14px;
}

.navbar {
    ul {
        background: transparent;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: black;
    font-weight: bold;
}

.sticky {
    background: $primary-color;
    // display: none !important
}

.reponsive {
    display: inherit;
}

.reponsive-li {
    display: none;
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
    .reponsive-li {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        a {
            color: $primary-color !important;
            padding: 0px !important;
        }
        li {
            padding: 1rem !important;
            text-align: center;
        }
        ul {
            background: #fff;
            border-radius: 5px;
        }
    }
    .reponsive-li {
        display: block;
    }
    .reponsive {
        display: none;
    }
}

@media(max-width:768px) {
    .navbar {
        ul {
            background: #fff;
            margin: 1rem 0rem;
        }
        a {
            color: $primary-color !important;
            font-weight: 600;
        }
    }
    .reponsive-li {
        display: block;
    }
    .reponsive {
        display: none;
    }
}