<div *ngIf="sharedServiceService.isLoading" class="spiner ">
    <img class="animated infinite" style="width: 200px" src="./assets/header/loader.png" alt="FanCard">
</div>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>