<div class="school-detail-section ">

  <div class="bg-content pt-5">

    <div class="container text-center pt-5 title">
      <!-- <ngx-skeleton-loader count="2"
        [theme]="{ width: '80%', height: '40px', 'border-radius': '10px', 'opacity':' 0.30' }">
      </ngx-skeleton-loader> -->
      <h1 class="mt-5 pt-4 text-uppercase text-light "> Crosby-Ironton High School</h1>
      <p class="text-uppercase text-light font pb-3">Sports Keep 100%</p>

      <!-- school card image -->

      <div class="school-card pt-2">
        <!-- <ngx-skeleton-loader count="1"
          [theme]="{ width: '350px', height: '230px', 'border-radius': '10px','margin-bottom': '-45px', 'opacity':' 0.30' }"
          appearance="circle">
        </ngx-skeleton-loader> -->
        <img src="https://www.fancard.app/admin-panel/assets/images/Card/65d98c576fa1db0be152cec1b2df0377.png" />
      </div>
    </div>
  </div>
  <!-- section-1 completed -->

  <!-- section-2 deals card -->
  <div class="deals-card mt-5 pt-3">
    <div class="container">
      <div class="deal-content text-center">
        <h1> Deals in Crosby-Ironton, MN </h1>
        <h1 class="pt-3"> School Events </h1>
      </div>
      <div class="row event-btn mx-5 pt-5">
        <div class="col-12 col-md-3 col-lg-3 btn-div">
          <button type="button" class="btn btn-primary event-schedule" (click)="submitData()"> <img src="../../../assets/previous.png"/>
            <p>Today</p> <img src="../../../assets/next.png"/>
          </button>
        </div>
        <div class="col-12 col-md-3 col-lg-3 btn-div">
          <select class="form-control">
            <option>February 2020</option>
            <option>March 2020</option>
            <option>April 2020</option>
            <option>May 2020</option>
          </select>
        </div>
        <div class="col-12 col-md-3 col-lg-3 btn-div">
          <button type="button" class="btn btn-primary event-schedule" (click)="submitData()">Week</button>
        </div>
        <div class="col-12 col-md-3 col-lg-3 btn-div">
          <button type="button" class="btn btn-primary event-schedule" (click)="submitData()">Month</button>
        </div>
      </div>
      <div class="row pt-2 pb-4">
        <div class="col-12 col-md-6 col-lg-4 my-3" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]">
          <div class="event-div">
            <p class="event-name">Bicycle Event</p>
            <p class="event-date">Feb 12th 2020 7:30PM</p>
            <div class="location">
              <img src="../../../assets/location-icon.png" class="location-icon" />
              <p class="event-address"> 3040 Excelsior Blvd. 101, Minnepolis MN 55416</p>
            </div>
            <p class="event-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
              Ipsum has been the
              industry's standard dummy text ever since the 1500s,
              when an</p>
            <div class="col-md-12 btn-div">
              <button type="button" class="btn btn-primary interested-btn" (click)="submitData()">Interested</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<app-contactus></app-contactus>
