@import "../../shared/theme/variable.scss";

.school-detail-section {
  max-width: 100%;
  width: 100%;

  .bg-content {
    background: $primary-color;
    border-bottom-left-radius: 48% 20%;
    border-bottom-right-radius: 48% 20%;
    width: 100%;
    // height: 300px;
  }

  .title {
    h1 {
      font-size: 40px;
      font-family: "open-sans-bold" !important;
      width: 100%;
    }

    p {
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: 500;
    }
  }
  .font{
    font-size: 25px !important;
  }

  .school-card {
    max-width: 100%;
    width: 100%;

    img {
      // max-width: 100%;
      margin-bottom: -45px;
      border-radius: 15px;
      height: 230px;
      object-fit: scale-down;
    }
  }

  .deal-content {
    h1 {
      color: $primary-color;
      letter-spacing: 0.5px;
      font-family: "open-sans-bold" !important;
      width: 100%;
    }
  }
}

.no-image-found {
  img {
    width: 25%;
  }

  h2 {
    color: $primary-color;
    font-size: 1.5rem;
  }
}

.event-div {
  padding: 30px;
  margin: 0px 15px 35px 0px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}


.event-name {
  font-family: "open-sans-bold" !important;
  font-size: 21px;
  letter-spacing: 0.5px;
}

.event-address {
  width: 90%;
  color: #6c6c6c;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 14px;
}

.event-desc {
  margin-top: 10px;
  font-size: 14px;
}

.event-date {
  color: #7d7d7d;
  letter-spacing: 0.4px;
  margin-top: 5px;
}

.location-icon {
  width: 20px;
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
}

p {
  margin: 0;
}

.interested-btn {
  border-radius: 25px;
  padding: 7px 60px;
  background-color: #2096f1;
}

.btn-div {
  text-align: center;
  padding-top: 25px;
}

.location {
  width: 100%;
  margin-top: 5px;
}


select {
  // background-color: #d7d7d7;
  font-weight: 700;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("/assets/arrow-down.png") #d7d7d7 no-repeat 98.5% !important;
  /* !important used for overriding all other customisations */
  background: url("/assets/arrow-down.png") #d7d7d7 no-repeat calc(100% - 10px) !important;
  /* Better placement regardless of input width */
  height: 52px !important;
  font-size: 16px;
  color: #000000 !important;
   width: 100%;
}

.event-schedule {
  background-color: #d7d7d7;
  color: #000000;
  font-weight: 700;
  border: 0px;
  padding: 10px 0px !important;
  width: 90%;
  height: 50px;
  p{
    margin: 0px;
    display: inline-block;
    font-size: 18px;
    padding: 0px 19%;
    vertical-align: middle;
  }
  img{
    width: 14px;
    padding-top: 3px;
    margin-left: 3px;
  }
}

.event-btn {
  padding-bottom: 50px
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .school-detail-section .title {
    h1{
      font-size: 30px;
    }
    p{
      padding-top: 20px;
      font-size: 20px;
    }
  }

  .school-card {
    img{
      height: 150px !important;
    }
  }
  select{
    width: 85%;
    margin: 0px auto;
  }
  .event-div{
    margin: 0px auto !important;
  }
}

@media only screen and (min-width: 501px) {

}


/*ipad ipad pro...*/

@media only screen and (min-width: 800px) {

}


/*mac , macbook ...*/

@media only screen and (min-width: 1024px) and (max-width: 1920px) {

}


/* mac book pro , and macbook retina display screen */

@media only screen and (min-width: 1920px) and (max-width: 2560px) {

}



/* ipad special media query*/

@media only screen and (width: 768px) and (height: 1024px) {

  .event-schedule {
    width: 100% !important;
    p{
      padding: 0px 13% !important;
    }
  }
  select{
      width: 106% !important;
      font-size: 13px !important;
  }

}
