@import "../../shared/theme/variable.scss";
.school-detail-section {
    .bg-content {
        background: $primary-color;
        // border-bottom-left-radius: 48% 20%;
        // border-bottom-right-radius: 48% 20%;
        width: 100%;
    }
    .title {
        h1 {
            font-family: "open-sans-bold" !important;
            width: 100%;
        }
        p {
            font-size: 30px;
            letter-spacing: 1px;
            font-weight: 500;
        }
    }
    .school-card {
        img {
            width: 350px;
            margin-bottom: -45px;
        }
    }
    .deal-content {
        h1 {
            color: $primary-color;
            letter-spacing: 0.5px;
            font-family: "open-sans-bold" !important;
        }
    }
    .material-icons {
        font-size: 15px;
    }
    .nav-link.active {
        color: #fff;
        background-color: $primary-color;
        border-radius: 50px;
    }
    ul {
        a {
            color: $primary-color;
            border: 1px solid;
            border-color: $primary-color;
            border-radius: 50px;
        }
    }
    //card css
    .card-img {
        height: 160px !important;
        position: relative;
        border-radius: 10px;
        height: 150px;
        object-fit: cover;
    }
    .card-title {
        position: absolute;
        top: 50%;
        left: 0px;
        right: 0px;
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
        padding: 0px 10px;
    }
    .card {
        border-radius: 5%;
        box-shadow: 0 0px 13px 0 rgba(0, 0, 0, 0.2);
        width: 100%;
        max-height: 400px;
        height: 100%;
    }
    .card-body {
        .cat-image {
            width: 35px;
        }
        img {
            // width: fit-content;
            display: inline-block;
        }
        p {
            display: inline-block;
            margin: 0px 0px 0px 10px;
            font-weight: bold;
            font-size: 15px;
            white-space: pre-line;
            width: 80%;
            vertical-align: middle;
        }
    }
    .card-overlay {
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        position: absolute;
        width: 100%;
        height: 160px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .last-part {
        span {
            color: $secondary-color;
            font-size: 15px;
            font-weight: bold;
            display: inline-block;
            vertical-align: middle;
            margin-right: 4px;
        }
        img {
            width: 17px;
            padding: 0px 2px;
        }
        .open-at-div {
            span {
                color: $secondary-color;
                font-size: 12px;
                font-weight: bold;
                display: inline-block;
            }
        }
    }
    .acess-deals-section {
        text-align: center;
        h2 {
            color: $primary-color;
            font-family: "open-sans-bold" !important;
            margin: 0px 2px;
        }
        .btn-outline-primary {
            color: $primary-color;
            border-color: $primary-color;
            border-radius: 50px;
            border-width: 2px;
            // width: 100%;
            // width: 80%;
            min-height: 80px;
            font-size: 22px;
            text-transform: capitalize;
            padding: 5%
        }
        .btn-outline-primary:hover {
            background-color: $primary-color;
            color: #fff;
        }
    }
    .map {
        height: 800px;
        width: 100%;
        box-shadow: 6px 1px 17px 0 rgba(0, 0, 0, 0.5);
    }
    .main-div {
        margin: 15px;
    }
}

.main-card {
    position: relative;
    overflow: hidden;
}

//button common css..
.view-more {
    .btn-div {
        margin: 20px auto;
    }
    .btn-outline-primary {
        color: $primary-color;
        border-color: $primary-color;
        border-radius: 50px;
        width: 150px;
        height: 50px;
        border-width: 2px;
        font-size: 20px;
    }
    .btn-outline-primary:hover {
        background-color: $primary-color;
        color: #fff;
    }
    .btn-primary {
        background-color: $primary-color;
        color: #fff;
        width: 150px;
        height: 55px;
        border-width: 2px;
        border-color: transparent;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 1px;
        border-radius: 100px;
    }
}

.no-image-found {
    img {
        width: 25%;
    }
    h2 {
        color: $primary-color;
        text-transform: capitalize;
        font-size: 1.5rem;
    }
}

.wrapper {
    vertical-align: top;
    img {
        width: 100px !important;
    }
}

.school-list {
    text-align: center;
    h2 {
        color: $primary-color;
        margin: 15px;
    }
    p {
        font-weight: 600;
        letter-spacing: 0.5px;
        font-size: 19px;
        text-transform: capitalize;
        margin: 15px auto;
        span {
            display: block;
            font-weight: normal;
            font-size: 19px;
            text-transform: capitalize;
            letter-spacing: 0.5px;
        }
    }
    .label {
        display: inline-block;
        vertical-align: middle;
        color: #3c3d4b;
        text-align: left;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 500;
        white-space: pre-line;
        width: 200px;
        span {
            color: $primary-color;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            display: block;
        }
    }
    .img-div {
        background: #fff;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: 14px 10px;
        position: relative;
        box-shadow: -1px 1px 5px 4px #f5f4f4;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        pointer-events: all;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px;
            width: 80px;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 411px) {}

@media only screen and (min-width: 1024px) {
    .main-div {
        margin: 20px 0px !important;
    }
}