<div class="school-detail-section ">
	<!-- section-1 after header -->
	<div class="bg-content pt-5 pb-5">
		<div class="container text-center pt-5 title">
			<h1 class="mt-5 text-uppercase text-light ">{{searchTitle}}</h1>


			<!-- school card image -->
			<div class="school-card pt-2">
				<!-- <img src="{{schoolData.MarkerImage}}" /> -->
			</div>
		</div>
	</div>
	<!-- section-1 completed -->
	<!-- section-2 deals card -->
	<div class="deals-card pt-4 pb-4">
		<div class="container">
			<ul class="nav nav-pills justify-content-center mt-4 mb-4" id="pills-tab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="pills-list-tab" data-toggle="pill" href="#pills-list" role="tab"
						aria-controls="pills-list" aria-selected="true">
						<i class="material-icons align-middle mr-2">list</i>
						<span class="align-middle">List-view</span>
					</a>
				</li>
				<li class="nav-item ml-2">
					<a class="nav-link" id="pills-map-tab" data-toggle="pill" href="#pills-map" role="tab"
						aria-controls="pills-map" aria-selected="false">
						<i class="material-icons align-middle mr-2">place</i>
						<span class="align-middle">Map-view</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-list" role="tabpanel" aria-labelledby="pills-list-tab">
				<div class="container">

					<!-- business data -->
					<div class="row main-card" *ngIf="businessdata">
						<!-- card -->
						<div class="col-md-4 main-div" *ngFor="let item of businessdata"
							(click)="gotoResturentDetailPage(item.Businessid)">
							<div class="card">
								<img class="card-img" src="{{item.BusinassImage[0]}}"
									onError="src='./assets/header/loader.png';" alt="{{item.Businassname}}">
								<div class="card-overlay">
									<h5 *ngIf="item.OfferName" class="card-title text-center">{{item.OfferName}}</h5>
									<h5 *ngIf="!item.OfferName" class="card-title text-center">No Offer</h5>
								</div>
								<div class="card-body p-2">
									<img class="cat-image" src="{{item.MarkerImage}}" />
									<p>{{item.Businassname}}</p>
									<div class="last-part pt-1" >

										<div class="d-inline-block" *ngIf="item.Rating && item.Rating != 0">
											<span>{{item.Rating}}</span>
											<div class="wrapper d-inline-block pl-2 pb-1">
												<img class="star-image" src="./assets/star/{{item.Rating}}.png" />
											</div>
										</div>

										<div *ngIf="item.Hours && item.Hours.length>0" class="open-at-div float-right">
											<span>open: {{item.Hours[0].DayName}} - {{item.Hours[0].StartTime}} to
												{{item.Hours[0].EndTime}}
											</span>
										</div>
										
									</div>
								</div>
							</div>
						</div>

						<div *ngIf="showMoreData" class="view-more pt-5 pb-5 col-md-12 text-center">
							<div class="btn-div">
								<button type="button" (click)="showMoreDataList()" class="btn btn-outline-primary">View
									More</button>
							</div>
						</div>
					</div>
					<!-- business data over -->
					<!-- school data -->
					<div  *ngIf="schoolData">
						<div  class="school-list">
							<div class="row pt-3">
								<!-- <div *ngIf="processingForSchool" class="col-12">
									<ngx-skeleton-loader count="2"
										[theme]="{ width: '100px', height: '100px',margin:'0px 6%' }"
										appearance="circle">
									</ngx-skeleton-loader>
								</div> -->
								<div [ngClass]="{'col-sm-3': schoolData.length >=4 }" class=" col "
										*ngFor="let item of schoolData"  (click)="gotoSchoolDetailView(item)">
									<div class=" img-div">
										<img src="{{item.BusinassImage[0]}}" onError="src='./assets/header/loader.png';"
											alt="{{item.Businassname}}" />
									</div>
									<p class="label text-center">
										{{item.Businassname}}
										<span *ngIf="item.CommingSoon == '1'  ">Coming soon</span>
									</p>
								</div>
							</div>
						</div>

						

					</div>
				
				
					<div class="no-image-found m-auto text-center" *ngIf="searchData.length == 0">
						<img class="" src="../../../assets/header/loader.png" />
						<h2>
							No data available
						</h2>
					</div>
					<!-- acess to deals section -->

					<!-- <div class="acess-deals-section pt-5 pb-5 m-auto">
						<h2>Acess to Deals In Every Participating Community!</h2>
						<div class="row">
							<div class="col-md-4 pt-5 pb-5" *ngFor="let i of [0,1,2]">
								<div class="btn-div">
									<button type="button" class="btn btn-outline-primary">see deals in
										brainerd</button>
								</div>
							</div>
						</div>
					</div> -->
					<!-- </div> -->
				</div>
			</div>
			<div class="tab-pane fade" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
				<div class="map" #map>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- <div *ngIf="schoolData">	 -->
		<!-- <app-signup-school ></app-signup-school> -->
<!-- </div> -->


<app-contactus></app-contactus>