<div class="school-card-section">
  <div class="bg-content pt-5 pb-5">
    <div class="container text-center pt-5 title">
      <h1 class="mt-5 pt-4 text-light">Event Attended</h1>
    </div>
  </div>

  <!-- school card section -->
  <div class="fancard-details pt-3 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-4" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]">
          <div class="event-div">
            <p class="event-name">Bicycle Event</p>
            <p class="event-date">Feb 12th 2020 7:30PM</p>
            <!-- <img src="../../../assets/location-icon.png" />  -->
            <div class="location">
              <img src="../../../assets/location-icon.png" class="location-icon" />
              <p class="event-address"> 3040 Excelsior Blvd. 101, Minnepolis MN 55416</p>
            </div>
            <p class="event-attended">Total Attended : 250</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-contactus></app-contactus>
