@import "../../shared/theme/variable.scss";

//school-card css......
.bg-content {
  background: $primary-color;
  // border-bottom-left-radius: 48% 20%;
  // border-bottom-right-radius: 48% 20%;
  width: 100%;
  height: 300px;
}

.title {
  h1 {
    font-family: "open-sans-bold" !important;
    width: 100%;
  }

  p {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 500;
  }
}

.fancard-details {
  margin-top: 30px;
}

.event-name {
    font-family: "open-sans-bold" !important;
    font-size: 21px;
    letter-spacing: 0.5px;
}

.event-address {
  width:90%;
  color: #6c6c6c;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 14px;
}

.event-attended {
  margin-top: 10px;
 font-size: 17px;
}

.event-date {
  color: #7d7d7d;
  letter-spacing: 0.4px;
  margin-top: 5px;
}

p {
  margin: 0;
}

.event-div {
  padding: 30px;
  margin: 0px 15px 35px 0px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.location{
  width: 100%;
  margin-top: 5px;
}

.location-icon {
  width: 20px;
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
}
