<div class="school-card-section">
    <div class="bg-content pt-5 pb-5">
        <div class="container text-center pt-5 title">
            <h1 class="mt-5 pt-4 text-uppercase text-light ">Schools</h1>
        </div>
    </div>

    <!-- school card section -->
    <div class="school-card pt-3 pb-5">
        <div class="container">
            <div class="school-list">
                <div>
                    <h2>Purchase FanCard participating High school</h2>
                    <p>
                        SPORT-WIDE game & event admission pass
                        <span>schools keep 100% of fanCard sales. contact school for pricing & details.</span>
                    </p>
                    <div class="row pt-3">
                        <div *ngIf="processingForSchool" class="col-12">
                            <ngx-skeleton-loader count="4" [theme]="{ width: '100px', height: '100px',margin:'0px 6%' }" appearance="circle">
                            </ngx-skeleton-loader>
                        </div>
                        <div [ngClass]="{'col-sm-3': schoolList.length >=4 }" class=" col " (click)="gotoSchoolDetailView(item)" *ngFor="let item of schoolList">
                            <div class=" img-div">
                                <img src="{{item.SchoolImage}}" onError="src='./assets/header/loader.png';" />
                            </div>
                            <p class="label text-center">
                                {{item.Schoolname}}
                                <span *ngIf="item.ComingSoon == '1'  ">Coming soon</span>
                            </p>
                        </div>

                    </div>
                    <!-- <div *ngIf="showSchoolMore" class="row">
            <div class="btn-div">
              <button type="button" (click)="getSchoolList()" class="btn btn-outline-primary">View
                More</button>
            </div>
          </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-contactus></app-contactus> -->
<app-signup-school></app-signup-school>