@import "../../shared/theme/variable.scss";
//school-card css......
.bg-content {
    background: $primary-color;
    // border-bottom-left-radius: 48% 20%;
    // border-bottom-right-radius: 48% 20%;
    width: 100%;
    height: 300px;
}

.title {
    h1 {
        font-family: "open-sans-bold" !important;
        width: 100%;
    }
    p {
        font-size: 30px;
        letter-spacing: 1px;
        font-weight: 500;
    }
}

.school-list {
    text-align: center;
    h2 {
        color: $primary-color;
        font-family: "open-sans-bold" !important;
        margin: 15px;
    }
    p {
        font-weight: 600;
        letter-spacing: 0.5px;
        font-size: 19px;
        text-transform: capitalize;
        margin: 15px auto;
        span {
            display: block;
            font-weight: normal;
            font-size: 19px;
            text-transform: capitalize;
            letter-spacing: 0.5px;
        }
    }
    .label {
        display: inline-block;
        vertical-align: middle;
        color: #3c3d4b;
        text-align: left;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 500;
        white-space: pre-line;
        width: 200px;
        span {
            color: $primary-color;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            display: block;
        }
    }
    .img-div {
        background: #fff;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: 14px 10px;
        position: relative;
        box-shadow: -1px 1px 5px 4px #f5f4f4;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        pointer-events: all;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px;
            width: 80px;
        }
    }
}

//button common css..
.btn-div {
    margin: 20px auto;
}

.btn-outline-primary {
    color: $primary-color;
    border-color: $primary-color;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    border-width: 2px;
    font-size: 20px;
}

.btn-outline-primary:hover {
    background-color: $primary-color;
    color: #fff;
}

.btn-primary {
    background-color: $primary-color;
    color: #fff;
    width: 150px;
    height: 55px;
    border-width: 2px;
    border-color: transparent;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 100px;
}