<div class="school-detail-section ">
    <!-- section-1 after header -->
    <div class="bg-content pt-5 pb-5">
        <div class="container text-center pt-5 title">
            <h1 class="mt-5 pt-4 text-uppercase text-light ">Deals</h1>
            <!-- <p class="text-uppercase text-light">{{schoolData.Slogan}}</p> -->

            <!-- school card image -->
            <div class="school-card pt-2">
                <!-- <img src="{{schoolData.MarkerImage}}" /> -->
            </div>
        </div>
    </div>
    <!-- section-1 completed -->


    <!-- see all business offering deals section-->
    <div class="business-section pb-4">
        <div class="container">
            <h2>See All Businesses offering Deals</h2>
            <p class="text-capitalize">Access to Deals in All Participating Communities. Must Present FanCard at Business to Redeem Deal.</p>
            <!-- <div class="alert alert-success mt-2 mb-2 text-center" *ngIf="errorText">
        <strong>No Search data avaialabel</strong>
      </div> -->

            <div class="row ">
                <div *ngIf="processingForCategory" class="col-12">
                    <ngx-skeleton-loader count="4" [theme]="{ width: '200px', height: '220px',margin:'10px 3.35%',   'border-radius': '10px' }" appearance="circle">
                    </ngx-skeleton-loader>
                </div>
                <div (click)="gotoBusinessList(item)" class=" col-lg-3  col-md-6 col-sm-6 col-xs-12" *ngFor="let item of allCategories">
                    <div class="img-container">
                        <img src="{{item.Image}}" onError="src='./assets/header/loader.png';" />
                        <p [ngStyle]="{'color': item.ColorCode}">{{item.CategoryName}}</p>
                    </div>
                </div>

            </div>
            <!-- <div *ngIf="showCategoryMore" class="row">
        <div class="btn-div pt-5 pb-5 m-auto">
          <button type="button" (click)="categoryViewMore()" class="btn btn-outline-primary">View More</button>
        </div>
      </div> -->
        </div>
    </div>


</div>
<!-- <app-contactus></app-contactus> -->