//business-card css......
@import "../../shared/theme/variable.scss";
.bg-content {
    background: $primary-color;
    // border-bottom-left-radius: 48% 20%;
    // border-bottom-right-radius: 48% 20%;
    width: 100%;
    height: 300px;
}

.title {
    h1 {
        font-family: "open-sans-bold" !important;
        width: 100%;
    }
    p {
        font-size: 30px;
        letter-spacing: 1px;
        font-weight: 500;
    }
}

.business-section {
    text-align: center;
    margin: 5% auto auto auto;
    // h2 {
    //   color: $primary-color;
    //   text-transform: capitalize;
    //   letter-spacing: 1px;
    // }
    p {
        font-size: 18px;
        letter-spacing: 1px;
        color: $secondary-color;
        margin: 20px auto;
    }
    .img-container {
        box-shadow: 0 -1px 8px 0 rgba(0, 0, 0, 0.3);
        // width: 90%;
        height: 200px;
        position: relative;
        border-radius: 10px;
        margin: 15px;
        cursor: pointer;
        pointer-events: all;
        img {
            // position: absolute;
            // top: 40%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            margin-top: 50px;
            width: 40px;
        }
        p {
            // position: absolute;
            // top: 66%;
            // left: 50%;
            // transform: translate(-48%, -34%);
            margin-top: 20px;
            font-weight: 500;
        }
    }
}

//button common css..
.btn-div {
    margin: 20px auto;
}

.btn-outline-primary {
    color: $primary-color;
    border-color: $primary-color;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    border-width: 2px;
    font-size: 20px;
}

.btn-outline-primary:hover {
    background-color: $primary-color;
    color: #fff;
}

.btn-primary {
    background-color: $primary-color;
    color: #fff;
    width: 50%;
    height: 55px;
    border-width: 2px;
    border-color: transparent;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 100px;
    margin: 15px;
}

.support-form {
    padding: 25px 5px;
    // h2{
    //     font-weight: 700;
    //     letter-spacing: 1px;
    //     text-align: center;
    // }
    p {
        font-size: 1rem;
        margin: 5px auto;
        letter-spacing: 0.5px;
        font-weight: 100;
        text-align: center;
    }
    input::placeholder,
    textarea::placeholder {
        color: rgba(0, 0, 0, 0.5) !important;
        opacity: 1;
        font-size: 17px;
        letter-spacing: 1px;
        font-weight: 400 !important;
    }
}

.form-title {
    font-size: 15px;
    font-weight: bold;
    font-family: "open-sans-bold" !important;
    text-align: left;
}

.form-group {
    margin: 0px auto;
}

.error-text {
    color: #dc3545;
    font-size: 12.8px;
}