<div class="business-card-section">
    <div class="bg-content pt-5 pb-5">
        <div class="container text-center pt-5 title">
            <h1 class="mt-5 pt-4 text-uppercase text-light ">2019-20 New Business Sign Up</h1>
        </div>
    </div>

    <!-- see all business offering deals section-->
    <!-- <div class="business-section  m-5 ">
    <div class="container">
      <h2>See All Businesses offering Deals</h2>
      <p class="text-capitalize">acess to deals in all participating commiunites.MUST PRESENT FANCARD AT BUSINESS TO
        REDEEM DEAL. </p>
      <div class="row ">
        <div *ngIf="processingForCategory" class="col-12">
          <ngx-skeleton-loader count="4"
            [theme]="{ width: '200px', height: '220px',margin:'10px 3.35%',   'border-radius': '10px' }"
            appearance="circle">
          </ngx-skeleton-loader>
        </div>
        <div (click)="gotoBusinessList(item)" class=" col-lg-3  col-md-6 col-sm-6 col-xs-12"
          *ngFor="let item of categoryArray">
          <div class="img-container">
            <img src="{{item.Image}}" />
            <p [ngStyle]="{'color': item.ColorCode}">{{item.CategoryName}}</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->

    <div class="support-form">
        <div class="container">

            <form [formGroup]="BusinessForm">
                <div class="pt-4">
                    <h2 class="form-title">Business Information</h2>
                    <div class="form-group required pt-2 pb-2">
                        <input type="text" placeholder="*Business Name" formControlName="business_name" class="form-control" [ngClass]="{ 'is-invalid': BusinessFormSubmitted && f.business_name.errors }" />
                        <div *ngIf="BusinessFormSubmitted && f.business_name.errors" class="invalid-feedback">
                            <div *ngIf="f.business_name.errors.required">This field is required.</div>
                        </div>
                    </div>

                    <div class="form-group required pt-2 pb-2">
                        <input type="number" placeholder="*Phone" formControlName="phno" class="form-control" [ngClass]="{ 'is-invalid': BusinessFormSubmitted && f.phno.errors }" />
                        <div *ngIf="BusinessFormSubmitted && f.phno.errors" class="invalid-feedback">
                            <div *ngIf="f.phno.errors.required">This field is required.</div>
                            <div *ngIf="f.phno.errors?.pattern">Please specify a valid phone number.</div>
                        </div>
                    </div>

                    <div class="form-group required pt-2 pb-2">
                        <input type="text" placeholder="*Street Address" formControlName="street_add" class="form-control" [ngClass]="{ 'is-invalid': BusinessFormSubmitted && f.street_add.errors }" />
                        <div *ngIf="BusinessFormSubmitted && f.street_add.errors" class="invalid-feedback">
                            <div *ngIf="f.street_add.errors.required">This field is required.</div>
                        </div>
                    </div>

                    <div class="form-group required pt-2 pb-2">
                        <input type="text" placeholder="Street Address 2" formControlName="street_add2" class="form-control" />
                        <!-- <div *ngIf="BusinessFormSubmitted && f.street_add2.errors" class="invalid-feedback">
                      <div *ngIf="f.street_add2.errors.required">Street Address 2 is required.</div>
                    </div> -->
                    </div>

                    <div class="form-group required pt-2 pb-2">
                        <input type="text" placeholder="*City" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': BusinessFormSubmitted && f.city.errors }" />
                        <div *ngIf="BusinessFormSubmitted && f.city.errors" class="invalid-feedback">
                            <div *ngIf="f.city.errors.required">This field is required.</div>
                        </div>
                    </div>

                    <div class="form-group required pt-2 pb-2">
                        <input type="text" placeholder="*State / Region" formControlName="state_region" class="form-control" [ngClass]="{ 'is-invalid': BusinessFormSubmitted && f.state_region.errors }" />
                        <div *ngIf="BusinessFormSubmitted && f.state_region.errors" class="invalid-feedback">
                            <div *ngIf="f.state_region.errors.required">This field is required.</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group required pt-2 pb-2">
                                <input type="number" placeholder="*Postal / Zip " formControlName="Postal_zip" class="form-control" [ngClass]="{ 'is-invalid': BusinessFormSubmitted && f.Postal_zip.errors }" />
                                <div *ngIf="BusinessFormSubmitted && f.Postal_zip.errors" class="invalid-feedback">
                                    <div *ngIf="f.Postal_zip.errors.required">This field is required.</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group required pt-2 pb-2">
                                <select class="form-control" formControlName="country" [ngClass]="{ 'is-invalid': BusinessFormSubmitted && f.country.errors }" [(ngModel)]="countryname.name">
                  <option *ngFor="let item of countryList" class="options" [value]="item.country_name"
                    [selected]="countryname.id == item.id">{{item.country_name}}</option>
                </select>
                                <div *ngIf="BusinessFormSubmitted && f.country.errors" class="invalid-feedback">
                                    <div *ngIf="f.country.errors.required">This field is required.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group required pt-2 pb-2">
                        <textarea placeholder="*Deal description (example: $5 Off Purchase of $25 or More)" class="form-control" autocomplete="off" rows="5" type="text" formControlName="deal_desc" [ngClass]="{ 'is-invalid': BusinessFormSubmitted && f.deal_desc.errors }"></textarea>
                        <div *ngIf="BusinessFormSubmitted && f.deal_desc.errors" class="invalid-feedback">
                            <div *ngIf="f.deal_desc.errors.required">This field is required.</div>
                        </div>
                    </div>

                    <div class="desc">
                        <p class="text-left">I authorize my business's information to be shared on the FanCard App.</p>

                        <div class="form-group form-group-sm">
                            <input class="mr-3" type="checkbox" id="ProcessingConsultantYN" value="true" formControlName="agree" [ngClass]="{ 'is-invalid': BusinessFormSubmitted && f.agree.errors?.required }" />
                            <label class="checkbox-inline align-baseline" aria-describedby="ProcessingConsultantYN" id="lbProcessingConsultant" for="ProcessingConsultantYN">I agree</label>
                            <div class="error-text" *ngIf="BusinessFormSubmitted && f.agree.errors?.required">This field is required.
                            </div>

                        </div>

                    </div>

                    <div>
                        <h2 class="form-title text-left">Primary Contact Person Information</h2>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group required pt-2 pb-2">
                                <input type="text" placeholder="*First " formControlName="first_name" class="form-control" [ngClass]="{ 'is-invalid': BusinessFormSubmitted && f.first_name.errors }" />
                                <div *ngIf="BusinessFormSubmitted && f.first_name.errors" class="invalid-feedback">
                                    <div *ngIf="f.first_name.errors.required">This field is required.</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group required pt-2 pb-2">
                                <input type="text" placeholder="*Last " formControlName="last_name" class="form-control" [ngClass]="{ 'is-invalid': BusinessFormSubmitted && f.last_name.errors }" />
                                <div *ngIf="BusinessFormSubmitted && f.last_name.errors" class="invalid-feedback">
                                    <div *ngIf="f.last_name.errors.required">This field is required.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group required pt-2 pb-2">
                        <input type="text" placeholder="*Email " formControlName="emailAdd" class="form-control" [ngClass]="{ 'is-invalid': BusinessFormSubmitted && f.emailAdd.errors }" />
                        <div *ngIf="BusinessFormSubmitted && f.emailAdd.errors" class="invalid-feedback">
                            <div *ngIf="f.emailAdd.errors.required">This field is required.</div>
                            <div *ngIf="f.emailAdd.errors.email">Please enter a valid email address.</div>
                        </div>
                    </div>

                    <div class="form-group required pt-2 pb-2">
                        <input type="number" placeholder="*Phone " formControlName="contactPhno" class="form-control" [ngClass]="{ 'is-invalid': BusinessFormSubmitted && f.contactPhno.errors }" />
                        <div *ngIf="BusinessFormSubmitted && f.contactPhno.errors" class="invalid-feedback">
                            <div *ngIf="f.contactPhno.errors.required">This field is required.</div>
                            <div *ngIf="f.contactPhno.errors.pattern">Please specify a valid phone number.</div>
                        </div>
                    </div>


                    <div class="btn-div m-auto text-center pt-2 pb-2">
                        <button type="button" class="btn btn-primary" (click)="submitData()">Sign Up</button>
                    </div>
                </div>
            </form>

            <!-- sucess alert -->
            <div class="alert alert-success mt-4 mb-4 text-center" *ngIf="responseText">
                <strong>
          {{responseText}}
        </strong>
            </div>
        </div>
    </div>

</div>