@import "../../shared/theme/variable.scss";

//school-card css......
.bg-content {
  background: $primary-color;
  // border-bottom-left-radius: 48% 20%;
  // border-bottom-right-radius: 48% 20%;
  width: 100%;
  height: 300px;
}

.title {
  h1 {
    font-family: "open-sans-bold" !important;
    width: 100%;
  }

  p {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 500;
  }
}

.fancard-details {
  margin-top: 30px;
}

.label-text {
    color: #6c6c6c;
    font-weight: 600;
    width: 50%;
    text-align: left;
}

.input-options {
    width: 50%;
    background-color: #f0f0f0 !important;
    color: #000000 !important;
    border: 0px solid #ced4da !important;
    height: 45px !important;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin: 0px auto;
}

.submit-btn {
  padding: 10px 70px;
  border-radius: 25px;
  background-color: #2096f1;
}

.btn-div {
  text-align: center;
  padding-top: 10px;
}

.input-div {
  text-align: center;
}


@media only screen and (min-width: 320px) and (max-width: 500px) {
 .input-options,.label-text{
    width: 80%;
 }
}

@media only screen and (max-width: 600px) {
  .input-options,.label-text{
      width: 80%;
  }
}


/*ipad ipad pro...*/

@media only screen and (min-width: 800px) {

}


/*mac , macbook ...*/

@media only screen and (min-width: 1024px) and (max-width: 1920px) {

}


/* mac book pro , and macbook retina display screen */

@media only screen and (min-width: 1920px) and (max-width: 2560px) {

}



/* ipad special media query*/

@media only screen and (width: 768px) and (height: 1024px) {

  .event-schedule {
    width: 100% !important;
    p{
      padding: 0px 13% !important;
    }
  }
  select{
      width: 106% !important;
      font-size: 13px !important;
  }

}
