<div class="school-card-section">
  <div class="bg-content pt-5 pb-5">
    <div class="container text-center pt-5 title">
      <h1 class="mt-5 pt-4 text-light">Change Password</h1>
    </div>
  </div>

  <!-- school card section -->
  <div class="fancard-details pt-3 pb-5">
    <div class="container p-2">
      <div class="input-div">
        <div class="mb-4">
          <div class="input-div">
            <label class="label-text">Old Password</label>
            <input type="password" placeholder="Enter Old Password" class="form-control input-options" />
          </div>
        </div>
        <div class="mb-4">
          <div class="input-div">
            <label class="label-text">New Password</label>
            <input type="password" placeholder="Enter New Password" class="form-control input-options" />
          </div>
        </div>
        <div class="mb-4">
          <div class="input-div">
            <label class="label-text">Confirm Password</label>
            <input type="password" placeholder="Confirm Your Password" class="form-control input-options" />
          </div>
        </div>
      </div>
      <div class="btn-div">
        <button type="button" class="btn btn-primary submit-btn" (click)="submitData()">Submit</button>
      </div>
    </div>
  </div>
</div>
<app-contactus></app-contactus>
