//primary color and secondary color declartions..

    /** primary **/
        // $primary-color: #2a7fe2;
        $primary-color: #2096f1;
    /** secondary **/
        $secondary-color: #3c3d4b;
        $tertiary-color :#0068e1;
  