<div class="support-section">
  <div class="bg-content pt-5 pb-5">
    <div class="container text-center pt-5 title">
      <h1 class="mt-5 text-uppercase text-light ">Support</h1>
    </div>
  </div>

  <div class="support-form">
    <div class="container">
      <form [formGroup]="supportForm">
        <div class="pt-4">
          <div class="form-group required pt-2 pb-2">
              <label class="control-label">Subject</label>
              <select class="form-control" formControlName="subject"
                  [ngClass]="{ 'is-invalid': SupportFormSubmitted && f.subject.errors }">
                  <option class="options" selected value="">Select subject</option>
                  <option class="options" value="Feedback">Feedback</option>
                  <option class="options" value="General Enquiries">General Enquiries</option>
              </select>
              <div *ngIf="SupportFormSubmitted && f.subject.errors" class="invalid-feedback">
                  <div *ngIf="f.subject.errors.required">This field is required.</div>
              </div>
          </div>
          <div class="form-group required pt-2 pb-2">
            <label class="control-label">Your Email</label>
            <input type="text" placeholder="Email" formControlName="emailAddress" class="form-control"
              [ngClass]="{ 'is-invalid': SupportFormSubmitted && f.emailAddress.errors }" />
            <div *ngIf="SupportFormSubmitted && f.emailAddress.errors" class="invalid-feedback">
              <div *ngIf="f.emailAddress.errors.required">This field is required.</div>
              <div *ngIf="f.emailAddress.errors.email">Please enter a valid email address.</div>
            </div>
          </div>
          <div class="form-group required pt-2 pb-2">
            <label class="control-label">How can we help?</label>
            <textarea placeholder="Message" class="form-control" autocomplete="off" rows="10" type="text"
              formControlName="message"
              [ngClass]="{ 'is-invalid': SupportFormSubmitted && f.message.errors }"></textarea>
            <div *ngIf="SupportFormSubmitted && f.message.errors" class="invalid-feedback">
              <div *ngIf="f.message.errors.required">This field is required.</div>
            </div>
          </div>
          <div class="btn-div m-auto text-center pt-2 pb-2">
            <button type="button" class="btn btn-primary" (click)="submitData()">Send</button>
          </div>
        </div>
      </form>
      <!-- sucess alert -->
      <div class="alert alert-success mt-4 mb-4 text-center" *ngIf="responseText">
          <strong>
           {{responseText}}
          </strong>
        </div>

    </div>
  </div>


</div>