<div class="school-card-section">
  <div class="bg-content pt-5 pb-5">
    <div class="container text-center pt-5 title">
      <h1 class="mt-5 pt-4 text-light">Profile</h1>
    </div>
  </div>

  <!-- school card section -->
  <div class="fancard-details pt-3 pb-5">
    <div class="container sign-padd">
      <div class="row pb-5">

          <div class="col-12">
            <div class="card-class d-inline-block">
              <img src="../../../assets/profile/card.png" />
            </div>
            <div class="image-upload  d-inline-block">
              <img class="profile-img"
                src="https://keenthemes.com/preview/metronic/theme/assets/pages/media/profile/profile_user.jpg" />
              <!-- <img class="camera-icon"  src="https://www.atlassian.com/dam/jcr:ba03a215-2f45-40f5-8540-b2015223c918/Max-R_Headshot%20(1).jpg" /> -->
            </div>
            <div class="attended-div pt-4 text-center">
              <button class="attended-btn">
                <p class="total-events">Attended 12 Events with FanCard</p>
              </button>
            </div>
          </div>

      </div>
      <div class="row">
        <div class="col-md-6 my-2 ">
          <label class="label-text">Full Name</label>
          <input type="text" placeholder="Enter Full Name" value="Connor Davis" class="form-control input-options" />
        </div>
        <div class="col-md-6 my-2 ">
          <label class="label-text">Email</label>
          <input type="text" placeholder="Enter Your Email" value="connordavis@gmail.com"
            class="form-control input-options" />
        </div>
        <div class="col-md-6 my-2 ">
          <label class="label-text">Phone</label>
          <input type="text" placeholder="Enter Your Phone" value="+65 65214 265" class="form-control input-options" />
        </div>
        <div class="col-md-6 my-2 ">
          <label class="label-text">Gender</label>
          <select class="form-control input-options">
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
        <div class="col-md-6 my-2 ">
          <label class="label-text">Date Of Birth</label>
          <input type="date" placeholder="DD/MM/YYYY" class="form-control input-options" />
        </div>
        <div class="col-md-6 my-2 ">
          <label class="label-text">Student Id</label>
          <input type="number" placeholder="Enter Your Student Id" value="95746157"
            class="form-control input-options" />
        </div>
        <div class="col-6 col-md-6 my-3 my-md-5 my-lg-5 btn-right">
          <button type="button" class="btn btn-primary btn-logout" [routerLink]="['/login']"
            routerLinkActive="router-link-active" (click)="submitData()">Logout</button>
        </div>
        <div class="col-6 col-md-6 my-3 my-md-5 my-lg-5 btn-left">
          <button type="button" class="btn btn-primary btn-changepaswd" [routerLink]="['/change-password']"
            routerLinkActive="router-link-active">Change
            Password</button>
        </div>
      </div>

    </div>
  </div>
</div>
<app-contactus></app-contactus>
