@import "../../shared/theme/variable.scss";

//school-card css......
.bg-content {
  background: $primary-color;
  // border-bottom-left-radius: 48% 20%;
  // border-bottom-right-radius: 48% 20%;
  width: 100%;
  height: 300px;
}

.title {
  h1 {
    font-family: "open-sans-bold" !important;
    width: 100%;
  }

  p {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 500;
  }
}

.fancard-details {
  margin-top: 30px;
}

.label-text {
    color: #222;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.5px;
}

.input-options {
  width: 90% !important;
  background-color: #f0f0f0 !important;
  color: #000000 !important;
  border: 0px solid #ced4da !important;
  height: 45px !important;
}

::-webkit-input-placeholder {
  color: #adaead;
}


a {
  color: black;
  border-bottom: 1px solid black;
  padding-bottom: 1px;
  font-weight: 600;
  font-size: 13px;
}

.scan-qr-div {
  margin-top: 15px;
  text-align: center;
}

.or-text {
  font-weight: 500;
  color: #adaead;
}

.btn-logout , .btn-changepaswd{
   border-radius: 25px;
    background-color: #2096f1;
    height: 50px;
    font-size: 20px;
    width: 50%;
    font-weight: 200;
}



.btn-div {
  padding-top: 50px;
}

.btn-display {
  // display: inline-block;
  text-align: center;
}


.existing-account-txt {
  text-align: center;
  padding-top: 20px;
}

.signin-txt {
  font-weight: 500;
  font-size: 15px;

  .signin {
    color: #007bff;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("/assets/arrow-down.png") white no-repeat 98.5% !important;
  /* !important used for overriding all other customisations */
  background: url("/assets/arrow-down.png") white no-repeat calc(100% - 10px) !important;
  /* Better placement regardless of input width */
}

.image-upload {
    border-radius: 100%;
    img{
      width: 150px;
      height: 150px;
      margin: 0px auto;
      box-shadow: 0px 9px 16px 0px rgba(0, 0, 0, 0.2);
      border-radius: 100%;
    }
}

.attended-btn{
   background: transparent;
    padding: 5px 18px;
    border-radius: 50px;
    border: 1px solid #222;
    p{
      margin: 0px;
      font-size: 20px;
    }
}
.sign-padd {
  padding: 0px 7%;
}

.margin30 {
  margin-bottom: 30px;
}

.card-class{
  width: 350px;
}

.total-events {
  text-align: center;
  margin-top: 20px;
}

.btn-right{
  text-align: right;
  padding-right: 7%;
}

.btn-left{
  text-align: left;

}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .card-class,.btn-left,.btn-right{
    text-align: center;
  }
  .image-upload{
    width: 100% !important;
    text-align: center;
  }
  .input-options{
    width: 100% !important;
  }

  .btn-changepaswd,.btn-logout{
    border-radius: 25px;
    background-color: #2096f1;
    height: 50px;
    font-size: 14px;
    width: 100% !important;
  }


}

@media only screen and (max-width: 600px) {
.card-class,.btn-left,.btn-right{
    text-align: center;
  }
  .input-options{
    width: 100% !important;
  }

  .btn-changepaswd,.btn-logout{
    border-radius: 25px;
    background-color: #2096f1;
    height: 50px;
    font-size: 14px;
    width: 100% !important;
  }
}


/*ipad ipad pro...*/

@media only screen and (min-width: 800px) {

}


/*mac , macbook ...*/

@media only screen and (min-width: 1024px) and (max-width: 1920px) {

}


/* mac book pro , and macbook retina display screen */

@media only screen and (min-width: 1920px) and (max-width: 2560px) {

}



/* ipad special media query*/

@media only screen and (width: 768px) and (height: 1024px) {

  .event-schedule {
    width: 100% !important;
    p{
      padding: 0px 13% !important;
    }
  }
  select{
      width: 106% !important;
      font-size: 13px !important;
  }

}

