/*Reset*/

*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* Normal CSS */



/* Normal CSS */


/* https://css-tricks.com/snippets/css/media-queries-for-standard-devices */
/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {}

/* ----------- iPad Pro 12.9" ----------- */
/* Portrait and Landscape */
@media only screen and (max-device-width: 1366px) {}

/* ----------- iPad Pro 10.5" ----------- */
@media only screen and (max-device-width: 1112px) {}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* ----------- iPad 1, 2, Mini and Air ----------- */
@media only screen and (max-device-width: 1024px) {}

/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
@media only screen and (max-device-width: 812px) {}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen and (max-device-width: 736px) {}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen and (max-device-width: 667px) {}


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
@media only screen and (max-device-width: 568px) {}


/* ----------- iPhone 4 and 4S ----------- */
@media only screen and (max-device-width: 480px) {

    h2,
    h1 {
        font-size: 2rem
    }

    // p,
 // span {
 //     font-size: 1rem;
 // }

    button {
        font-size: 10px;
    }

}

/* ----------- Apple Watch ----------- */
@media (max-device-width: 42mm) and (min-device-width: 38mm) {}

/* ----------- Moto 360 Watch ----------- */
@media (max-device-width: 218px) and (max-device-height: 281px) {}