@import '../../../shared/theme/variable.scss';
/* contact-form */
.contact-form{
    background:#f8f8f8;
    padding: 25px 5px;
    h2{
        font-weight: 700;
        letter-spacing: 1px;
    }
    p{
        font-size: 1rem;
        margin: 5px auto;
        letter-spacing: 0.5px;
        font-weight: 100;
    }
    .form-control{
        background: transparent;
        border: 0px transparent;
        border-bottom: 1.3px solid #dad2d2;
        border-radius: 0px !important;
        margin: 10px 0px;
        box-shadow: none !important;
    }
    input::placeholder { 
        color:rgba(0,0,0,0.5) !important;
        opacity: 1; 
        font-size: 17px;
        letter-spacing: 1px;
        font-weight: 100 !important;
      }
}
.btn-primary{
    background-color: $primary-color;
    color: #fff;
    width: 150px;
    height: 55px;
    border-width: 2px;
    border-color: transparent;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 100px;
}
.error-text{
    text-align: left;
    color: red;
    font-size: 12px !important;
    padding: 0px 0rem;
    margin: 5px !important;
}
