<div class="contact-form text-center pt-5 pb-5">
    <div class="container">
        <h2>Contact & Support</h2>
        <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
        <form [formGroup]="contactForm">
            <div class="row pt-4">
                <div class="col-md-6 p-2">
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name" formControlName="first_name">
                    <p class="error-text" *ngIf="contactFormSubmitted && contactForm.controls.first_name.errors?.required">First name is required!.
                    </p>
                </div>
                <div class="col-md-6 p-2">
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name" formControlName="last_name">
                    <p class="error-text" *ngIf="contactFormSubmitted && contactForm.controls.last_name.errors?.required">Last name is required!.
                    </p>
                </div>
                <div class="col-md-6 p-2">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address" formControlName="emailAddress">
                    <p class="error-text" *ngIf="contactFormSubmitted && contactForm.controls.emailAddress.errors?.required">
                        Email id is required!.</p>
                    <p class="error-text" *ngIf="contactFormSubmitted && contactForm.controls.emailAddress.errors?.email">Email id is not valid.
                    </p>
                </div>
                <div class="col-md-6 p-2">
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Message.." formControlName="message">
                    <p class="error-text" *ngIf="contactFormSubmitted && contactForm.controls.message.errors?.required">
                        message is required!.
                    </p>
                </div>
                <div class="btn-div m-auto pt-5">
                    <button type="button" class="btn btn-primary" (click)="contactUsSubmit()">Submit</button>
                </div>
            </div>
        </form>
        <!-- sucess alert -->
        <div class="alert alert-success mt-4 mb-4 text-center" *ngIf="responseText">
            <strong> {{responseText}}</strong>
        </div>
    </div>
</div>