@import "../../shared/theme/variable.scss";
.school-signup-section {
    .bg-content {
        background: $primary-color;
        // border-bottom-left-radius: 48% 20%;
        // border-bottom-right-radius: 48% 20%;
        width: 100%;
    }
    .title {
        h1 {
            font-family: "open-sans-bold" !important;
            width: 100%;
        }
        p {
            font-size: 30px;
            letter-spacing: 1px;
            font-weight: 500;
        }
    }
    .school-signup-form {
        padding: 25px 5px;
        .form-title {
            h2 {
                text-align: center;
                color: $primary-color;
                font-size: 25px;
                font-weight: bold;
                font-family: "open-sans-bold" !important;
            }
            p {
                text-align: center;
                font-size: 17px;
                // white-space: pre-line;
                // width: 70%;
                margin: 5px 0px;
            }
        }
        input::placeholder,
        textarea::placeholder {
            color: rgba(0, 0, 0, 0.5) !important;
            opacity: 1;
            font-size: 17px;
            letter-spacing: 1px;
            font-weight: 400 !important;
        }
    }
    .btn-primary {
        background-color: $primary-color;
        color: #fff;
        width: 150px;
        height: 55px;
        border-width: 2px;
        border-color: transparent;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 1px;
        border-radius: 100px;
    }
    .form-group {
        margin: 0px auto;
    }
}