@import "../../shared/theme/variable.scss";
.school-detail-section {
    max-width: 100%;
    width: 100%;
    .bg-content {
        background: $primary-color;
        // border-bottom-left-radius: 48% 20%;
        // border-bottom-right-radius: 48% 20%;
        width: 100%;
        // height: 300px;
    }
    .title {
        h1 {
            font-size: 40px;
            font-family: "open-sans-bold" !important;
            width: 100%;
        }
        p {
            font-size: 20px;
            letter-spacing: 1px;
            font-weight: 500;
        }
    }
    .school-card {
        max-width: 100%;
        width: 100%;
        img {
            // max-width: 100%;
            margin-bottom: -45px;
            border-radius: 15px;
            height: 150px;
            object-fit: scale-down;
        }
    }
    .deal-content {
        h1 {
            color: $primary-color;
            letter-spacing: 0.5px;
            font-family: "open-sans-bold" !important;
            width: 100%;
        }
    }
    .material-icons {
        font-size: 15px;
    }
    .nav-link.active {
        color: #fff;
        background-color: $primary-color;
        border-radius: 50px;
    }
    ul {
        a {
            color: $primary-color;
            border: 1px solid;
            border-color: $primary-color;
            border-radius: 50px;
        }
    }
    //card css
    .card-img {
        height: 130px !important;
        position: relative;
        border-radius: 10px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 150px;
        object-fit: cover;
    }
    .card-title {
        position: absolute;
        top: 50%;
        left: 0;
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
        padding: 0px 10px;
        right: 0;
    }
    .card {
        box-shadow: 0 0px 13px 0 rgba(0, 0, 0, 0.2);
        width: 100%;
        max-height: 400px;
        height: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-radius: 7%;
    }
    .card-body {
        .cat-image {
            width: 35px;
        }
        img {
            // width: fit-content;
            display: inline-block;
        }
        p {
            display: inline-block;
            margin: 0px 0px 0px 10px;
            font-weight: bold;
            font-size: 16px;
        }
    }
    .card-overlay {
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        position: absolute;
        width: 100%;
        height: 130px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .last-part {
        span {
            color: $secondary-color;
            font-size: 15px;
            font-weight: bold;
            display: inline-block;
            vertical-align: middle;
            margin-right: 4px;
            padding-left: 10px;
        }
        img {
            width: 17px;
            padding: 0px 2px;
        }
        .open-at-div {
            span {
                color: $secondary-color;
                font-size: 12px;
                font-weight: bold;
                display: inline-block;
            }
        }
    }
    .acess-deals-section {
        text-align: center;
        h2 {
            color: $primary-color;
            font-family: 'open-sans-bold' !important;
            width: 95%;
        }
        .btn-outline-primary {
            color: $primary-color;
            border-color: $primary-color;
            border-radius: 50px;
            border-width: 2px;
            max-width: 100%;
            // width: 80%;
            min-height: 80px;
            font-size: 17px;
            text-transform: capitalize;
        }
        .btn-outline-primary:hover {
            background-color: $primary-color;
            color: #fff;
        }
    }
    .btn-outline-primary {
        color: $primary-color;
        border-color: $primary-color;
        border-radius: 50px;
        border-width: 2px;
        max-width: 100%;
        // width: 80%;
        font-size: 17px;
        text-transform: capitalize;
    }
    .btn-outline-primary:hover {
        background-color: $primary-color;
        color: #fff;
    }
}

.map {
    height: 800px;
    width: 100%;
    box-shadow: 6px 1px 17px 0 rgba(0, 0, 0, 0.5);
}

.main-card {
    position: relative;
    overflow: hidden;
}

.wrapper {
    vertical-align: top;
    img {
        width: 100px !important;
    }
}

.no-image-found {
    img {
        width: 25%;
    }
    h2 {
        color: $primary-color;
        font-size: 1.5rem;
    }
}

.fancard-details {
  margin-top: 30px;
}

.event-name {
    font-family: "open-sans-bold" !important;
    font-size: 21px;
    letter-spacing: 0.5px;
}

.event-address {
  width:90%;
  color: #6c6c6c;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 14px;
}

.event-attended {
  margin-top: 10px;
 font-size: 17px;
}

.event-date {
  color: #7d7d7d;
  letter-spacing: 0.4px;
  margin-top: 5px;
}

.m0 {
  margin: 0;
}

.event-div {
  // padding: 30px;
  // margin: 0px 15px 35px 0px;
  // box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.12);
  // border-radius: 10px;
  box-shadow: 0 0px 13px 0 rgba(0, 0, 0, 0.2);
        width: 100%;
        min-height: 200px;
        max-height: 300px;
        // height: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-radius: 7%;
        padding: 30px;
        margin: 0px 15px 35px 0px;
}

.location{
  width: 100%;
  margin-top: 5px;
}

.location-icon {
  width: 20px;
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
}

.search-results {
    height: 25rem;
    // overflow: scroll;
    overflow-y: scroll;
  }
