<div class="school-card-section">
  <div class="bg-content pt-5 pb-5">
    <div class="container text-center pt-5 title">
      <h1 class="mt-5 pt-4 text-light">Login First</h1>
      <h6 class="text-light">Hello there, Sign in in to continue!</h6>
    </div>
  </div>

  <!-- school card section -->
  <div class="fancard-details pt-3 pb-5">
    <div class="container sign-padd">
      <div class="row ">
        <div class="col-md-6">
          <label class="label-text">Email</label>
          <input type="text" placeholder="Enter Your Email" class="form-control input-options" />
        </div>
        <div class="col-md-6">
          <label class="label-text">Password</label>
          <input type="password" placeholder="Enter Your Password" class="form-control input-options" />
          <p class="forgot-password">
            Forgot Password?
          </p>
        </div>
        <!-- <div>
          <p class="forgot-password">
            Forgot Password?
          </p>
        </div> -->
      </div>
      <div class="row">
        <div class="col-md-12 btn-div">
          <button type="button" class="btn btn-primary next-btn" [routerLink]="['/profile']" routerLinkActive="router-link-active" (click)="submitData()">Sign In</button>
        </div>
        <div class="col-md-12 existing-account-txt">
          <label class="signin-txt">Don't have an account?<a routerLink="/create-account" routerLinkActive="active"><span class="signin"> SIGN UP</span></a></label>
        </div>
      </div>
    </div>
  </div>
</div>
<app-contactus></app-contactus>
