@import "../../shared/theme/variable.scss";

//school-card css......
.bg-content {
  background: $primary-color;
  // border-bottom-left-radius: 48% 20%;
  // border-bottom-right-radius: 48% 20%;
  width: 100%;
  height: 300px;
}

.title {
  h1 {
    font-family: "open-sans-bold" !important;
    width: 100%;
  }

  p {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 500;
  }
}

.fancard-details {
  margin-top: 30px;
}

.label-text {
  color: #6c6c6c;
  font-weight: 600;
}

.input-options {
  width: 90% !important;
  background-color: #f0f0f0 !important;
  color: #000000 !important;
  border: 0px solid #ced4da !important;
  height: 45px !important;
}

::-webkit-input-placeholder {
  color: #adaead;
}

.next-btn {
  padding: 10px 70px;
  border-radius: 25px;
  background-color: #2096f1;
}

.btn-div {
  text-align: center;
  padding-top: 50px;
}

.existing-account-txt {
  text-align: center;
  padding-top: 20px;
}

.signin-txt {
  font-weight: 500;
  font-size: 15px;

  .signin {
    color: #007bff;
  }
}

.sign-padd {
  padding: 0px 10%;
}

.forgot-password {
  color: #2096f1;
  font-weight: 500;
  float: right;
  width: 45%;
}

a:hover { 
  text-decoration: none; 
}