@import '../../../shared/theme/variable.scss';

/* contact-form */

// .app-footer{
//     position: absolute;
//     bottom: 0px;
//     width: 100%
// }
.contact-form {
    background: #f8f8f8;
    padding: 25px 5px;
    h2 {
        font-weight: 700;
        letter-spacing: 1px;
    }
    p {
        font-size: 1rem;
        margin: 5px auto;
        letter-spacing: 0.5px;
        font-weight: 100;
    }
    .form-control {
        background: transparent;
        border: 0px transparent;
        border-bottom: 1.3px solid #dad2d2;
        border-radius: 0px !important;
        margin: 10px 0px;
        box-shadow: none !important;
    }
    input::placeholder {
        color: rgba(0, 0, 0, 0.5) !important;
        opacity: 1;
        font-size: 17px;
        letter-spacing: 1px;
        font-weight: 100 !important;
    }
}

.btn-primary {
    background-color: $primary-color;
    color: #fff;
    width: 150px;
    height: 55px;
    border-width: 2px;
    border-color: transparent;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 100px;
}

.footer-section {
    background-color: $primary-color;
    .logo-img {
        display: block;
        width: 50%;
        margin: 0px 0px 15px 0px;
    }
    .info-div {
        p {
            color: #fff;
            font-size: 12px;
            font-weight: 100;
            font-family: sans-serif;
            letter-spacing: 0.5px;
        }
    }
    .useful-links {
        h2 {
            color: #fff;
            font-size: 18px;
            padding: 10px 0px;
            letter-spacing: 0.5px;
        }
        p {
            color: #fff;
            font-size: 14px;
            margin: 5px auto;
            font-weight: 100;
            letter-spacing: 0.8px;
        }
    }
    .our-company {
        h2 {
            color: #fff;
            font-size: 18px;
            padding: 10px 0px;
            letter-spacing: 0.5px;
        }
        a {
            color: #fff;
            font-size: 15px;
            margin: 5px auto;
            font-weight: 100;
            letter-spacing: 0.5px;
            padding: 0px;
            text-transform: capitalize;
        }
    }
    .About-us-section {
        h2 {
            color: #fff;
            font-size: 18px;
            padding: 5px 0px;
            letter-spacing: 0.5px;
        }
        p {
            font-size: 15px;
        }
    }
    .google-img {
        width: 100px;
    }
    .apple-img {
        width: 100px;
    }
    .rights-div {
        // display: inline-block;
        padding-top: 5px;
        img {
            width: 20px;
            vertical-align: middle;
        }
        p {
            margin: 0px;
            display: inline-block;
            vertical-align: middle;
            color: rgba(255, 255, 255, 0.4);
            padding-left: 10px;
            font-size: 14px;
        }
        span {
            padding-left: 5px;
            font-size: 14px;
        }
    }
    hr {
        border-top: 1px solid #209de0 !important;
        width: 100%;
        margin: 20px 0px 2px 0px;
    }
    .fb-twiter-img {
        // width: 100%;
        vertical-align: middle;
    }
    .responsive-css {
        width: 32px;
        text-align: left;
    }
}

.error-text {
    text-align: left;
    color: red;
    font-size: 12px !important;
    padding: 0px 0rem;
    margin: 5px !important;
}

.btn-div,
.fb-tw-div {
    cursor: pointer;
    pointer-events: all;
}

.text-link {
    color: #fff !important;
    padding: 0px;
    display: block;
}

.youtube-img {
    height: 22px;
}

.author {
    // float: right;
    text-align: right;
    padding-top: 5px;
    a {
        color: rgba(255, 255, 255, 0.4);
        font-size: 14px;
        margin: 0px;
    }
}

.btn-outline-light {
    // border-radius: 50px;
    border-width: 1px;
    // font-size: 20px;
}

.btn-outline-light:hover {
    color: $primary-color !important;
}

@media(max-width:1024px) {
    .form-control {
        margin: 10px 0px !important;
    }
}

@media (min-width:768px) {
    .logo-img {
        display: block;
        width: 30%;
    }
}

@media (max-width:768px) {
    //ipad pro..
    .responsive-row {
        text-align: center;
        .logo-img {
            margin: 15px auto;
        }
    }
    .btn-div {
        text-align: center !important;
    }
    .fb-tw-div {
        display: inline-block;
        margin: 0 10px;
    }
    .fb-twiter-img {
        // width: 100%;
        vertical-align: middle;
    }
    .responsive-css {
        width: 32px;
        text-align: left;
    }
    .rights-div {
        text-align: center;
        p,
        span {
            font-size: 1rem;
        }
    }
    .author {
        text-align: center;
        padding-bottom: 20px;
    }
    .our-company {
        a {
            font-weight: 400 !important;
        }
    }
    .info-div {
        text-align: center;
        button {
            margin: 0px auto;
            display: block;
        }
    }
    .footer-section {
        .logo-img {
            display: block;
            width: 45%;
            margin: 10px auto;
            padding: 5px 0px 10px;
        }
        .google-img,
        .apple-img {
            width: 100px;
        }
        .apple-img {
            margin-left: 0px !important;
        }
    }
}

a {
    text-transform: capitalize;
    font-size: 15px;
    padding-top: 5px !important;
}