<!-- contact form -->
<div class="app-footer">
    <!-- <div class="contact-form text-center pt-5 pb-5">
    <div class="container">
      <h2>Contact Form</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <form [formGroup]="contactForm">
        <div class="row pt-4">
          <div class="col-md-6 p-2">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="First Name" formControlName="first_name">
            <p class="error-text" *ngIf="contactFormSubmitted && contactForm.controls.first_name.errors?.required">First
              name is required!.</p>
          </div>
          <div class="col-md-6 p-2">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Last Name" formControlName="last_name">
            <p class="error-text" *ngIf="contactFormSubmitted && contactForm.controls.last_name.errors?.required">Last
              name is required!.</p>
          </div>
          <div class="col-md-6 p-2">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Email Address" formControlName="emailAddress">
            <p class="error-text" *ngIf="contactFormSubmitted && contactForm.controls.emailAddress.errors?.required">
              Email id is required!.</p>
            <p class="error-text" *ngIf="contactFormSubmitted && contactForm.controls.emailAddress.errors?.email">Email
              id is not valid.</p>
          </div>
          <div class="col-md-6 p-2">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Message.." formControlName="message">
            <p class="error-text" *ngIf="contactFormSubmitted && contactForm.controls.message.errors?.required">message
              is required!.</p>
          </div>
          <div class="btn-div m-auto pt-5">
            <button type="button" class="btn btn-primary" (click)="contactUsSubmit()">Submit</button>
          </div>
        </div>
      </form> -->
    <!-- sucess alert -->
    <!-- <div class="alert alert-success mt-4 mb-4 text-center" *ngIf="responseText">
        <strong> successfully Sent!</strong>
      </div>
    </div>
  </div> -->
    <!-- contact for end. -->

    <div class="footer-section">
        <div class="container">
            <div class="row responsive-row">
                <div class="col-md-3">
                    <div class="info-div mt-4">
                        <img class="logo-img" src="../../../../assets/footer/logo-footer.png" />
                        <!-- <p>
                            Cards issued in 2018 are valid through Aug. 1, 2019. Deals redeemable by presenting #1FanCard. Deals valid at business location specified and only while listed on website.
                        </p> -->

                    </div>
                </div>
                <div class="col-md-3 pl-4">
                    <div class="useful-links mt-4">
                        <h2 class="text-uppercase">USEFUL LINKS</h2>
                        <a class="text-link" routerLink="/deals" routerLinkActive="active">See all
                            Deals
                            <span class="sr-only"></span>
                        </a>
                        <a class="text-link" routerLink="/support" routerLinkActive="active">Support
                            <span class="sr-only"></span>
                        </a>
                        <a class="text-link" routerLink="/faq" routerLinkActive="active">Faq
                            <span class="sr-only"></span>
                        </a>
                        <a class="text-link" routerLink="/purchase-order" routerLinkActive="active">Purchase Order Form
                          <span class="sr-only"></span>
                        </a>
                        <a class="text-link" routerLink="/terms-condition" routerLinkActive="active">Terms and Conditions
                            <span class="sr-only"></span>
                        </a>
                        <a class="text-link" routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy
                            <span class="sr-only"></span>
                        </a>
                        <!-- <a class="text-link" routerLink="/terms-conditions" routerLinkActive="active">Terms & Conditions
							<span class="sr-only"></span>
						</a>
                        <a class="text-link" routerLink="/contact-us" routerLinkActive="active">Contact
							Us
							<span class="sr-only"></span>
						</a> -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="our-company mt-4">
                        <h2 class="text-uppercase">our links</h2>
                        <!-- <a class="nav-link" href="#">How it works
              <span class="sr-only"></span>
            </a> -->
                        <a class="nav-link" routerLink="/schools" routerLinkActive="active">Schools
                            <span class="sr-only"></span>
                        </a>
                        <a class="nav-link" routerLink="/deals" routerLinkActive="active">Deals
                            <span class="sr-only"></span>
                        </a>
                        <a class="nav-link" routerLink="/business-signup" routerLinkActive="active">Businesses
                            <span class="sr-only"></span>
                        </a>
                        <a class="nav-link" routerLink="/about-us" routerLinkActive="active">About
                            <span class="sr-only"></span>
                        </a>
                        <!-- <a class="text-link" routerLink="/privacy-terms" routerLinkActive="active">Privacy Policy
							<span class="sr-only"></span>
						</a> -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="About-us-section mt-4">
                        <h2 class="text-uppercase text-light">About us</h2>
                        <div class="fb-tw-div" (click)="openLink('fb')">
                            <div class="d-inline-block responsive-css">
                                <img class="fb-twiter-img" src="./assets/section-3/fb.png" />
                            </div>
                            <div class="d-inline-block text-light">
                                <p class="m-0 font-weight-100">Facebook</p>
                            </div>
                        </div>
                        <div class="fb-tw-div" (click)="openLink('tw')">
                            <div class="d-inline-block responsive-css">
                                <img class="fb-twiter-img" src="./assets/section-3/twitte.png" />
                            </div>
                            <div class="d-inline-block text-light">
                                <p class="m-0 font-weight-100">Twitter</p>
                            </div>
                        </div>
                        <!-- <div class="fb-tw-div" (click)="openLink('ytb')">
                            <div class="d-inline-block responsive-css">
                                <img class="fb-twiter-img youtube-img" src="./assets/footer/youtube(1).png" />
                            </div>
                            <div class="d-inline-block text-light">
                                <p class="m-0 font-weight-100">Youtube</p>
                            </div>
                        </div> -->
                        <div class="btn-div">
                            <div class="d-inline-block pr-2">
                                <a href="https://apps.apple.com/us/app/fancard-app/id1462650484?ls=1"><img class="google-img  mt-3" src="./assets/section-1/app-store-banner.png" /></a>
                            </div>
                            <div class="d-inline-block">
                                <a href="https://play.google.com/store/apps/details?id=com.fancard.app"><img class="apple-img  mt-3" src="./assets/section-1/google-play-banner.png" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 rights-div pb-3">
                    <img src="./assets/footer/copyright.png" />
                    <p>FANCARD 2019<span>All rights are reserved</span></p>
                </div>
                <div class="col-md-6 author">
                    <a href="https://www.excellentwebworld.com/">Designed & Developed by
                        Excellent Webworld.</a>
                </div>
            </div>
        </div>
    </div>
</div>
