<div class="terms-condi-section">
  <div class="bg-content pt-5 pb-5">
    <div class="container text-center pt-5 title">
      <h1 class="mt-5 text-uppercase text-light "> Terms & Conditions</h1>
    </div>
  </div>

  <div class="desc about-desc pt-5 pb-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-6 m-auto">
            <p>
              Cannot be combined with other offers. Applies to regular priced items only and items of equal or lesser value. Limit one use per visit.
               Must present FanCard prior to purchase. Additional restrictions may apply. Ask store for details.
            </p>
        </div>
      </div>
    </div>  
  </div>
</div>
