@import "../../shared/theme/variable.scss";
.terms-condi-section {
    .bg-content {
        background: $primary-color;
        // border-bottom-left-radius: 48% 20%;
        // border-bottom-right-radius: 48% 20%;
        width: 100%;
    }
    .title {
        h1 {
            font-family: "open-sans-bold" !important;
            width: 100%;
        }
        p {
            font-size: 30px;
            letter-spacing: 1px;
            font-weight: 500;
        }
    }
    .desc {
        min-height: 500px;
        h2 {
            font-family: "open-sans-bold" !important;
            color: $primary-color;
        }
        p {
            padding: 10px;
            font-size: 20px;
            font-weight: 600;
            span {
                display: block;
                padding: 10px 0px;
            }
        }
    }
}


/* Portrait */

@media only screen and (width: 1024px) and (height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    .desc {
        min-height: 1000px !important;
    }
}