<div class="school-card-section">
  <div class="bg-content pt-5 pb-5">
    <div class="container text-center pt-5 title">
      <h1 class="mt-5 pt-4 text-light">Create Account</h1>
      <h6 class="text-light">Sign up to see school event schedules and find deals near you!</h6>
    </div>
  </div>

  <!-- school card section -->
  <div class="fancard-details pt-3 pb-5">
    <div class="img-upload-div mb-2">
      <label>
        <input type="file" style="display:none" (change)="showPreview($event)">
        <div class="image-upload"></div>
      </label>
    </div>
    <div class="container p-2">
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="input-div">
              <label class="label-text">Full Name</label>
              <input type="text" placeholder="Enter Full Name" class="form-control input-options" />
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="input-div">
            <label class="label-text">Email</label>
            <input type="text" placeholder="Enter Your Email" class="form-control input-options" />
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="input-div">
            <label class="label-text">Gender</label>
            <select class="form-control input-options">
              <option>Male</option>
              <option>Female</option>
            </select>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="input-div">
            <label class="label-text">Date Of Birth</label>
            <input type="date" placeholder="DD/MM/YYYY" class="form-control input-options" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 btn-div">
          <button type="button" class="btn btn-primary next-btn" (click)="submitData()">Sign Up</button>
        </div>
        <div class="col-md-12 existing-account-txt">
          <label class="signin-txt">Already have an account?<a routerLink="/login" routerLinkActive="active"><span
                class="signin"> SIGN IN</span></a></label>
        </div>
      </div>
    </div>
  </div>
</div>
<app-contactus></app-contactus>
