@import "../../shared/theme/variable.scss";
//bg-content css......
.bg-content {
  padding-top: 10%;
  background: url("/assets/section-1/bg.png");
  width: 100%;
  height: 780px;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  h2 {
    font-size: 3.5rem;
  }
  p {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1.5px;
  }
  .desc {
    font-size: 17px;
    font-weight: 100 !important;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    width: 75%;
  }
}

.app-screen-img {
  width: 100%;
}

.google-apple-img {
  max-width: 100%;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
  pointer-events: all;
}

.resposive-text {
  text-align: left;
}

//school-card css......
.school-card {
  .card-body h2 {
    color: #0068e1;
  }

  .main-card {
    // position: relative;
    overflow: hidden;
  }

  .main-div {
    margin: 15px 0px;
    // padding: 0px !important;
  }

  .sponsorCard {
    border-radius: 5%;
    box-shadow: 0 0px 13px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    max-height: 400px;
    height: 100%;
    position: relative;
  }

  .sponsorCard-img {
    height: 160px !important;
    position: relative;
    border-radius: 10px;
    object-fit: cover;
    // width: 100%;
  }

  .card-overlay {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    width: 100%;
    height: 160px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .sponsorCard-title {
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0px 10px;
  }

  .sponsorCard-body {
    .cat-image {
      width: 35px;
    }
    img {
      // width: fit-content;
      display: inline-block;
    }
    p {
      display: inline-block;
      margin: 0px 0px 0px 10px;
      font-weight: bold;
      font-size: 15px;
      white-space: pre-line;
      width: 80%;
      vertical-align: middle;
    }
  }

  .last-part {
    text-align: left;
    span {
      color: $secondary-color;
      font-size: 15px;
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      margin-right: 4px;
    }
    img {
      width: 17px;
      padding: 0px 2px;
    }
    .open-at-div {
      span {
        color: $secondary-color;
        font-size: 12px;
        font-weight: bold;
        display: inline-block;
      }
    }
  }

  .wrapper {
    vertical-align: top;
    img {
      width: 100px !important;
    }
  }

  text-align: center;
  margin-top: -3%;
  .card {
    box-shadow: 0 0px 13px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  h4 {
    color: $tertiary-color;
    margin: 15px;
  }
  .card-text {
    font-weight: 900;
    letter-spacing: 0.5px;
    font-size: 18px;
    text-transform: capitalize;
    margin: 15px;
    span {
      display: block;
      font-weight: normal;
      font-size: 13px;
      text-transform: capitalize;
      letter-spacing: 0.5px;
    }
  }
  .label {
    display: inline-block;
    vertical-align: middle;
    color: #3c3d4b;
    text-align: left;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    white-space: pre-line;
    width: 200px;
    span {
      color: $tertiary-color;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      display: block;
    }
  }
  .img-div {
    background: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 14px 10px;
    position: relative;
    box-shadow: -1px 1px 5px 4px #f5f4f4;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    pointer-events: all;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
      width: 80px;
    }
  }
}

.search-btn {
  height: 40px;
  background: $primary-color;
  i {
    color: #fff;
  }
}

//button common css..
.btn-div {
  margin: 20px auto;
}

.btn-outline-primary {
  color: $primary-color;
  border-color: $primary-color;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  border-width: 2px;
  font-size: 20px;
}

.btn-outline-primary:hover {
  background-color: $primary-color;
  color: #fff;
}

.btn-primary {
  background-color: $primary-color;
  color: #fff;
  width: 150px;
  height: 55px;
  border-width: 2px;
  border-color: transparent;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  border-radius: 100px;
}

//business-card css......
.business-section {
  background: #e5f4ff;
  text-align: center;
  margin: 5% auto auto auto;
  h2 {
    color: $primary-color;
    text-transform: Normal;
    letter-spacing: 1px;
  }
  .subtext {
    font-size: 20px;
    letter-spacing: 1px;
    color: #3c3d4b;
    margin: 20px auto;
    font-weight: 500;
    padding: 0px 40px;
    text-align: center;
  }
  .img-container {
    box-shadow: 0 -1px 8px 0 rgba(0, 0, 0, 0.3);
    height: 200px;
    position: relative;
    border-radius: 10px;
    margin: 15px;
    cursor: pointer;
    pointer-events: all;
    background: #fff;
    img {
      margin-top: 50px;
      width: 40px;
    }
    p {
      margin-top: 20px;
      font-weight: 500;
      word-break: break-word;
      padding: 10px;
    }
  }
}

.blue-bg {
  background: #e5f4ff;
}

.img-content {
  text-align: center;
  img {
    width: 100%;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
  }
}

//fancard-app-screen-section ....
.fancard-app-screen {
  background-image: url("/assets/section-3/app-image-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  .app-image {
    width: 100%;
    display: flex;
    cursor: pointer;
    pointer-events: all;
  }
  h2 {
    font-size: 2rem;
    letter-spacing: 1px;
    width: 80%;
  }
  p {
    font-size: 1rem;
  }
  .img-div {
    margin: 30% auto;
  }
}

/* contact-form */

.contact-form {
  h2 {
    font-weight: 700;
    letter-spacing: 1px;
  }
  p {
    font-size: 1rem;
    margin: 5px auto;
    letter-spacing: 0.5px;
    font-weight: 100;
  }
  .form-control {
    border: 0px transparent;
    border-bottom: 1.3px solid #dad2d2;
    border-radius: 0px !important;
    margin: 30px;
    box-shadow: none !important;
  }
  input::placeholder {
    color: rgba(0, 0, 0, 0.5) !important;
    opacity: 1;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 100 !important;
  }
}

.input-group {
  position: relative;
  display: inline-flex;
  flex-wrap: nowrap !important;
  align-items: stretch;
  width: 100%;
}

.bg-blue-rounded {
  background: $primary-color;
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .resposive-text {
    text-align: center;
  }
  .bg-content {
    height: 1000px;
    padding-top: 20%;
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1.3rem;
      letter-spacing: 0.5px;
    }
    .desc {
      font-size: 15px;
      font-weight: 100 !important;
      letter-spacing: 0.5px;
      word-spacing: 1px;
      width: 75%;
    }
  }
  .google-apple-img {
    width: 46%;
  }
  .school-card {
    margin-top: -50%;
    // background: red;
    .label {
      width: 100%;
    }
  }
  .img-content {
    text-align: center;
    img {
      width: 70%;
    }
  }
  .bg-blue-rounded h2,
  h5 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 501px) {
  .resposive-text {
    text-align: center;
  }
  .bg-content {
    height: 800px;
    h2 {
      font-size: 2rem;
    }
    P {
      font-size: 1.3rem;
      letter-spacing: 0.5px;
    }
    .desc {
      font-size: 15px;
      font-weight: 100 !important;
      letter-spacing: 0.5px;
      word-spacing: 1px;
      width: 75%;
    }
  }
  .google-apple-img {
    width: 170px;
  }
  .school-card {
    margin-top: -20%;
    // background: yellow;
    .label {
      width: 100%;
    }
  }
  .img-content {
    text-align: center;
    img {
      width: 60%;
    }
  }
}

/*ipad ipad pro...*/

@media only screen and (min-width: 800px) {
  .bg-content {
    height: 600px;
    h2 {
      font-size: 2rem;
    }
    P {
      font-size: 1.5rem;
      letter-spacing: 0.5px;
    }
    .desc {
      font-size: 17px;
      font-weight: 100 !important;
      letter-spacing: 0.5px;
      word-spacing: 1px;
      width: 75%;
    }
  }
  .google-apple-img {
    width: 170px;
  }
  .school-card {
    margin-top: -18%;
    // background: green;
    .label {
      width: 100%;
    }
  }
  .img-content {
    text-align: center;
    img {
      width: 100%;
    }
  }
}

/*mac , macbook ...*/

@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  .bg-content {
    height: 780px;
  }
  .school-card {
    margin-top: -11%;
    // background: blue;
    .label {
      width: 100%;
    }
  }
  .img-content {
    text-align: center;
    img {
      width: 100%;
    }
  }
}

/* mac book pro , and macbook retina display screen */

@media only screen and (min-width: 1920px) and (max-width: 2560px) {
  .bg-content {
    height: 900px;
  }
  .school-card {
    margin-top: -9%;
    .label {
      width: 100%;
    }
  }
}

/* desktop up screen */

// @media only screen and (min-width: 2560px) {
//   .bg-content {
//     height: 1000px;
//   }
//   .school-card {
//     margin-top: -4%;
//     .label {
//       width: 100%;
//     }
//   }
// }

/* ipad special media query*/

@media only screen and (width: 768px) and (height: 1024px) {
  .bg-content {
    height: 600px;
  }
  .business-section {
    .img-container {
      box-shadow: 0 -1px 8px 0 rgba(0, 0, 0, 0.3);
      height: 200px;
      position: relative;
      border-radius: 10px;
      margin: 10px 5px 10px 5px;
      // width: 100%;
      p {
        display: block;
        position: relative;
        // top: 70%;
        word-break: break-all;
        padding: 15px;
      }
    }
  }
  .curve-image {
    object-fit: cover;
    height: 25px;
  }
}
