<div class="bg-content">
    <div class="container">
        <div class="row pt-3">
            <div class="col-md-8 align-items-center d-flex">
                <div class="content-div pt-3">
                    <h2 class=" text-light font-weight-bold m-3">
                        So many deals... we can't fit them all on the back of the card.
                        <span class="text-lowercase"></span></h2>
                    <p class=" text-light font-weight-bold m-3">Find deals with FanCard App!</p>

                    <!-- <p class="text-light desc m-3">
						Admission to your high school's games & events. Access to deals in all participating
						communities.
					</p> -->
                    <div class="btn-div text-left m-2">
                        <a href="https://apps.apple.com/us/app/fancard-app/id1462650484?ls=1"><img
                                class="google-apple-img" src="./assets/section-1/app-store.png" /></a>
                        <a href="https://play.google.com/store/apps/details?id=com.fancard.app"><img
                                class="google-apple-img" src="./assets/section-1/google-play-2.png" /></a>
                    </div>

                </div>
            </div>
            <div class="col-md-4 pt-3">
                <div class="img-content align-items-left">
                    <img class="app-screen-img p-3" src="./assets/app-image.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- school card section -->
<div class="school-card pt-3">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <ng-container  *ngIf=" sponsoredBusiness.length > 0">
                    <h2>Sponsored Business</h2>
                    <div class="row main-card">
                        <div class="col-md-4 pt-2 pb-2 main-div" *ngFor="let item of sponsoredBusiness"
                            (click)="gotoResturentDetailPage(item.Businessid)">
                            <div class="card sponsorCard">
                                <img class="sponsorCard-img" src="{{item.BusinassImage[0]}}"
                                    onError="src='./assets/header/loader.png';" alt="{{item.Businassname}}" />
                                <div class="card-overlay">
                                    <h5 *ngIf="item.OfferName" class="sponsorCard-title text-center">{{item.OfferName}}</h5>
                                    <h5 *ngIf="!item.OfferName" class="sponsorCard-title text-center">No Offer</h5>
                                </div>
                                <div class="card-body sponsorCard-body p-2">
                                    <img class="cat-image" src="{{item.MarkerImage}}" />
                                    <p>{{item.Businassname}}</p>
                                    <div class="last-part pt-1">

                                        <div class="d-inline-block" *ngIf="item.Rating && item.Rating != 0">
                                            <span>{{item.Rating}}</span>
                                            <div class="wrapper d-inline-block pl-2 pb-1">
                                                <img class="star-image" src="./assets/star/{{item.Rating}}.png" />
                                            </div>
                                        </div>

                                        <div *ngIf="item.Hours && item.Hours.length>0" class="open-at-div float-right">
                                            <span>Open: {{item.Hours[0].DayName}} - {{item.Hours[0].StartTime}} to
                                                {{item.Hours[0].EndTime}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="showMoreSponsor" class="row">
                        <div class="btn-div">
                          <button type="button" (click)="sponsoredViewMore()" class="btn btn-outline-primary">View More</button>
                        </div>
                      </div>
                </ng-container>

                <div class="row">
                    <div class="col-md-5 col-xs-12 col-sm-12 p-4 ">
                        <img src="./assets/section-1/card.png" alt="">
                    </div>
                    <div class=" resposive-text col-md-7 col-xs-12 col-sm-12 m-auto">

                        <h4 class="card-title">Purchase FanCard at participating High school</h4>
                        <p class="card-text">
                            SPORT-WIDE game & event admission pass
                            <span>schools keep 100% of fanCard sales. contact school for pricing & details.</span>
                        </p>
                    </div>
                </div>
                <div class="row  text-center my-2">
                    <h4 class="m-auto">See deals near participating high school</h4>
                </div>
                <div class="row mt-2">
                    <div *ngIf="processingForSchool" class="col-12">
                        <ngx-skeleton-loader count="3" [theme]="{ width: '100px', height: '100px',margin:'0px 10%' }"
                            appearance="circle">
                        </ngx-skeleton-loader>
                    </div>
                    <div [ngClass]="{'col-sm-4': schoolList.length >=3 }" class=" col " (click)="gotoSchoolDetailView(item)"
                        *ngFor="let item of schoolList">
                        <div class=" img-div">
                            <img src="{{item.SchoolImage}}" onError="src='./assets/header/loader.png';" />
                        </div>
                        <p class="label text-center">
                            {{item.Schoolname}}
                            <span *ngIf="item.ComingSoon == '1'  ">Coming soon</span>
                        </p>
                    </div>

                </div>
                <div *ngIf="showSchoolMore" class="row">
                    <div class="btn-div">
                        <button type="button" (click)="getSchoolList()" class="btn btn-outline-primary">View
                            More</button>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>

<!-- see all business offering deals section-->
<div class="business-section pt-3 pb-4">
    <div class="container">
        <p class="subtext">Get deals in all participating communities. Purchase FanCard from your high school and show
            it to businesses to redeem deals.</p>
        <h2 class="pb-2">See Deals by Category</h2>

        <!-- search box -->

        <div class="input-group col-md-4  pb-3 mb-3 mt-3">
            <ng2-completer class="ml-4 w-100" [(ngModel)]="searchStr" [datasource]="dataService" [minSearchLength]="0"
                placeholder="Enter name" (selected)="onSelect($event)"></ng2-completer>
            <span class="input-group-append">
                <button class="search-btn btn btn-outline-secondary" type="button" (click)="onSelect(searchStr)">
                    <i class="material-icons align-middle mr-2">search</i>
                </button>
            </span>

        </div>
        <div class="alert alert-success mt-4 mb-4 text-center" *ngIf="errorText">
            <strong>No Search data available</strong>
        </div>

        <div class="row ">
            <div *ngIf="processingForCategory" class="col-12">
                <ngx-skeleton-loader count="4"
                    [theme]="{ width: '200px', height: '220px',margin:'10px 3.35%',   'border-radius': '10px' }"
                    appearance="circle">
                </ngx-skeleton-loader>
            </div>
            <div (click)="gotoBusinessList(item)" class=" col-lg-3  col-md-6 col-sm-6 col-xs-12"
                *ngFor="let item of categoryArray">
                <div class="img-container">
                    <img src="{{item.Image}}" onError="src='./assets/header/loader.png';" />
                    <p [ngStyle]="{'color': item.ColorCode}">{{item.CategoryName}}</p>
                </div>
            </div>

        </div>
        <div *ngIf="showCategoryMore" class="row">
            <div class="btn-div pt-5 pb-5">
                <button type="button" (click)="categoryViewMore()" class="btn btn-outline-primary">View More</button>
            </div>
        </div>
    </div>
</div>
<div class="blue-bg">
    <div class="bg-blue-rounded pt-3 pb-2">

        <div class="container">
            <div class="text-center p-5">

                <h2>Get deals in 20+ Minnesota communities</h2>
                <h5>Find deals near you. Download the FanCard App</h5>
                <div class="mt-2">
                    <a href="https://apps.apple.com/us/app/fancard-app/id1462650484?ls=1"><img class="google-apple-img"
                            src="./assets/section-3/app-store.png" /></a>
                    <a href="https://play.google.com/store/apps/details?id=com.fancard.app"><img
                            class="google-apple-img" src="./assets/section-3/google-pay.png" /></a>
                </div>
            </div>
        </div>
    </div>

</div>



<!-- see all business offering deals section-->
<!-- <div class="fancard-app-screen">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="img-div">
					<img class="app-image" src="./assets/section-3/app-image.png" />
				</div>
			</div>
			<div class="col-md-8 align-items-center d-inline-flex">
				<div class="app-content-div p-3">
					<h2 class="text-capitalize font-weight-bold m-3">Download FanCard App to find deals near you</h2>
					<p class=" desc m-3">
						Discover great deals in 20+ Minnesota communities. Present your FanCard at participating
						businesses to redeem deals
					</p>
					<div class="mt-2">
						<a href="https://apps.apple.com/us/app/fancard-app/id1462650484?ls=1"><img
								class="google-apple-img" src="./assets/section-3/app-store.png" /></a>
						<a href="https://play.google.com/store/apps/details?id=com.fancard.app"><img class="google-apple-img"
								src="./assets/section-3/google-pay.png" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
<app-contactus></app-contactus>
