<div class="about-us-section">
    <div class="bg-content pt-5 pb-5">
        <div class="container text-center pt-5 title">
            <h1 class="mt-5 text-light ">About</h1>
        </div>
    </div>

    <div class="about-desc about-desc pt-5 pb-5">
        <div class="container">
            <!-- <div class="row"> -->
            <!-- CEO quotos Card -->
            <div class="col card border-0 responsive-card">
                <div class="card-header border-0">
                    <img src="../../../assets/About us/Morgan.png" alt="">
                </div>
                <div class="card-block  px-2">
                    <h4 class="card-title normal" [innerHtml]="quot_text"></h4>
                    <p class="card-text bold" [innerHtml]="ceo_name"></p>
                </div>
            </div>
            <!-- <div class="col-md-6 mt-3 desc" [innerHtml]="aboutus_desc[0]?.sectioncontent"></div>
                <div class="col-md-6">
                    <div class="img-div">
                        <img src="./assets/school-Detail/about-us.jpg" />
                    </div>
                </div>
                <div>
                    <p class="last-desc" [innerHtml]="aboutus_desc[1]?.sectioncontent"></p>
                </div> -->
            <!-- </div> -->

            <!--description -->
            <div class="col mt-5 desc">
                <p [innerHtml]="aboutus_desc[1]?.sectioncontent"></p>
            </div>

            <div class="row text-center">
                <div class="col-md-4 col-12 school-busi-cards">
                    <div class="card border-0 m-auto">
                        <div class="card-img-top text-center">
                            <img class="" src="../../../assets/About us/1.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">School</h5>
                            <p class="card-text" [innerHtml]="aboutus_desc[2]?.sectioncontent"></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-12  school-busi-cards">
                    <div class="card border-0 m-auto">
                        <div class="card-img-top text-center">
                            <img class="" src="../../../assets/About us/2.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Businesses</h5>
                            <p class="card-text" [innerHtml]="aboutus_desc[3]?.sectioncontent"></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-12  school-busi-cards">
                    <div class="card border-0">
                        <div class="card-img-top text-center">
                            <img class="" src="../../../assets/About us/3.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Community</h5>
                            <p class="card-text" [innerHtml]="aboutus_desc[4]?.sectioncontent"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- video container -->
    <div class="video-section">
        <div class="container pt-5 pb-5">
            <div class="row">
                <div class="embed-responsive embed-responsive-16by9 w-50 m-auto">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/_TdsR5WeEEY?wmode=transparent&autoplay=1&theme=dark&controls=1&autohide=1&loop=0&showinfo=0&rel=0&playlist=false&enablejsapi=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </div>
</div>
<app-contactus></app-contactus>