<div class="school-card-section">
  <div class="bg-content pt-5 pb-5">
    <div class="container text-center pt-5 title">
      <h1 class="mt-5 pt-4 text-light ">Activate Your FanCard</h1>
    </div>
  </div>

  <!-- school card section -->
  <div class="fancard-details pt-3 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <label class="label-text">Select School </label>
          <select class="form-control input-options">
            <option>Select Your School</option>
            <option *ngFor="let item of ['A', 'B', 'C', 'D']" class="options" [value]="item">{{item}}</option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="label-text">Fancard Number</label>
          <input type="number" placeholder="Enter Fancard Number" class="form-control input-options" />
        </div>
        <div class="col-md-4 scan-qr-div">
          <label class="or-text">OR </label> <br>
          <a href="#">Scan Card & QR Code</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 btn-div">
          <button type="button" class="btn btn-primary next-btn" (click)="submitData()">Next</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 existing-account-txt">
          <label class="signin-txt">Already have an account?<a routerLink="/login" routerLinkActive="active"><span class="signin"> SIGN IN</span></a></label>
        </div>
      </div>
    </div>
  </div>
</div>
<app-contactus></app-contactus>
