@import "../../shared/theme/variable.scss";

//school-card css......
.bg-content {
  background: $primary-color;
  // border-bottom-left-radius: 48% 20%;
  // border-bottom-right-radius: 48% 20%;
  width: 100%;
  height: 300px;
}

.title {
  h1 {
    font-family: "open-sans-bold" !important;
    width: 100%;
  }

  p {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 500;
  }
}

.fancard-details {
  margin-top: 30px;
}

.label-text {
  color: #6c6c6c;
  font-weight: 600;
}

.input-options {
  width: 90% !important;
  background-color: #f0f0f0 !important;
  color: #adaead !important;
  border: 0px solid #ced4da !important;
  height: 45px !important;
}

::-webkit-input-placeholder {
  color: #adaead;
}

a:hover { 
    text-decoration: none; 
}

// a {
//   color: black;
//   border-bottom: 1px solid black;
//   padding-bottom: 1px;
//   font-weight: 600;
//   font-size: 13px;
// }

.scan-qr-div {
  margin-top: 15px;
  text-align: center;
}

.or-text {
  font-weight: 500;
  color: #adaead;
}

.next-btn {
  padding: 10px 70px;
  border-radius: 25px;
  background-color: #2096f1;
}

.btn-div {
  text-align: center;
  padding-top: 50px;
}


.existing-account-txt {
  text-align: center;
  padding-top: 20px;
}

.signin-txt {
  font-weight: 500;
  font-size: 15px;

  .signin {
    color: #007bff;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("/assets/arrow-down.png") white no-repeat 98.5% !important;
  /* !important used for overriding all other customisations */
  background: url("/assets/arrow-down.png") white no-repeat calc(100% - 10px) !important;
  /* Better placement regardless of input width */
}
