/* You can add global styles to this file, and also import other style files */

// @import '~@ngx-share/button/themes/default/default-theme';

/* Add application styles & imports to this file! */

@import "./src/app/shared/theme/variable.scss";
@import url('https://fonts.googleapis.com/css?family=Spectral+SC:700');
@import '~@ngx-share/button/themes/material/material-dark-theme';
@import '~@ngx-share/button/themes/modern/modern-light-theme';
@font-face {
    font-family: "open-sans";
    src: url("./assets/fonts/OpenSans.ttf");
}

@font-face {
    font-family: "open-sans-bold";
    src: url("./assets/fonts/OpenSans/OpenSans-Bold.ttf");
}

*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -box-sizing: border-box;
}

img {
    max-width: 100%;
}

.normal {
    font-family: "open-sans" !important;
}

.bold {
    font-family: "open-sans-bold";
}

// p,
// span,
h1,
h2,
h3,
h4 {
    font-family: "open-sans-bold";
}


.spiner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1032;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        -webkit-animation-name: heartBeat;
        animation-name: heartBeat;
        -webkit-animation-duration: 1.3s;
        animation-duration: 1.3s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }
}

.completer-selected-row {
    background-color: $primary-color !important;
}

.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
}

.card-text {
    ul {
        list-style-type: none !important;
        padding: 5px;
    }
    li {
        font-size: 15px;
    }
}

@-webkit-keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    14% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    14% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

//ng completer css
ng2-completer {
    input {
        height: 40px !important;
        width: 100% !important;
        border: 1.5px solid #0d81e2 !important;
        padding: 0px 20px !important;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
    input::-ms-clear {
        /* Remove IE default X */
        display: inline !important;
    }
}

.completer-dropdown-holder {
    width: 100%;
}

.completer-dropdown {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.completer-list-item {
    font-size: 15px !important;
    text-align: left !important;
    // background: red;
}

.desc h2 {
    font-family: "open-sans-bold" !important;
}

.desc,
.last-desc {
    p,
    span {
        font-size: 1rem !important;
    }
}

@media (max-width:768px) {
    .desc,
    .last-desc {
        p,
        span {
            font-size: 0.8rem !important;
        }
    }
}

button:focus, select:focus{
    outline-color: transparent !important;
    outline-width: 0px !important;
    box-shadow: none !important;
    // background-color: $primary-color;
}

//caresoul slider css of business page..
.next-img,.prev-img{
    width: 35px !important;
    height: 35px !important;
}
.prev-img{
  background: rgba(0,0,0,0.3) url('./assets/left-arrow.png')  no-repeat  center !important;
  border-radius: 100%;
}

.next-img{
  background: rgba(0,0,0,0.3) url('./assets/right-arrow.png')  no-repeat  center !important;
  border-radius: 100%;
}

.busniess-caresoul{
  width: 7% !important;
  opacity: 1 !important;
}

