<div class="restaurent-detail-section">
	<div class="bg-content">
		<div class="container">
			<div class="row">
				<!-- section-1 -->
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div *ngIf="detailList[0]" class="title-info-div">

						<h2 *ngIf="detailList[0]?.Businassname">{{detailList[0]?.Businassname}}</h2>
						<p class="subtitle" *ngIf="detailList[0]?.OfferName">{{detailList[0]?.OfferName}}</p>

						<p *ngIf="detailList[0]?.Rating && detailList[0]?.Rating !=0"
							class="align-middle p-0 d-inline-block m-0">{{detailList[0]?.Rating}}</p>
						<!-- star -->
						<div *ngIf="detailList[0]?.Rating && detailList[0]?.Rating !=0"
							class="wrapper d-inline-block pl-2 align-middle pb-1">
							<img class="star-image" src="./assets/star/{{rating}}.png" />
						</div>
						<!-- star completed -->
						<table *ngIf="detailList[0].Hours" class="table table-responsive">
							<tr *ngFor="let item of detailList[0].Hours; let i= index">
								<td>{{item.DayName}} <small>(open)</small></td>
								<td>:</td>
								<td *ngIf="item.StartTime || item.EndTime">{{item | timeFormat}}</td>
								<td *ngIf="!item.StartTime && !item.EndTime">
									No time available.</td>
								<!-- <td *ngIf="item.StartSecondTime">{{item.StartSecondTime}} to
									{{item.EndSecondTime}}</td> -->
							</tr>
						</table>

						<!-- btn div -->
						<div class="btn-div pt-3 pb-3">
							<a *ngIf="detailList[0] && detailList[0].InternationalNumber"
								href="tel: + {{detailList[0].InternationalNumber}}"
								class="btn btn-outline-light mr-3"><i class="material-icons">phone_in_talk</i>call</a>
							<a *ngIf="detailList[0] && detailList[0].Website" href="{{detailList[0].Website}}"
								target="blank" class="btn btn-outline-light"><i
									class="material-icons">language</i>Website</a>
						</div>
					</div>

				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 pt-4 caresoul-div">
					<!-- Carousel container -->
					<div id="carousel-example-generic" class="carousel slide" [hidden]="!detailList[0]" data-ride="">
						<!-- Indicators -->
						<ol class="carousel-indicators"></ol>
						<!-- Wrapper for slides -->
						<!-- <div class="carousel-inner">
							<div class="carousel-item " *ngFor="let item of CaresoulimgArray ; let i = index"
							[ngClass]="i == 0 ? 'active' : ''">
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-6">
									<img *ngIf="CaresoulimgArray[i][0] != undefined" class="d-block w-100"
										src="{{CaresoulimgArray[i][0]}}" alt="First slide"/>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6">
									<img *ngIf="CaresoulimgArray[i][1] != undefined" class="d-block w-100"
										src="{{CaresoulimgArray[i][1]}}" alt="First slide">
								</div>
							</div>
						</div>
						</div> -->
						<div class="carousel-inner">
							<div class="carousel-item " *ngFor="let item of CaresoulimgArray ; let i = index"
								[ngClass]="i == 0 ? 'active' : ''">

								<img *ngIf="item || item != undefined" src="{{item}}"
									onError="src='./assets/header/loader.png';" alt="{{item}}" />

								<img *ngIf="!item ||item == undefined" src="./assets/No-Image-Available.jpg"
									onError="src='./assets/header/loader.png';" alt="{{item}}" />

							</div>
						</div>
						<!-- Controls -->
						<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>

				</div>
				<!-- section-1 completed -->
			</div>
			<div class="row" [hidden]="!detailList[0]">
				<div class="col-md-6 py-4">

					<share-buttons [theme]="'modern-light'"
						[include]="['facebook','twitter','linkedin','whatsapp','sms','email','print','copy']" [show]="4"
						[size]="-1" [url]="'https://fancard.app'+currentUrl"></share-buttons>
				</div>

			</div>
		</div>
	</div>

	<!-- description section -->
	<div class="descrption-section">
		<div class="container">
			<div class="row">
				<div class="col" *ngIf="detailList[0]">
					<div class="desc-section m-auto p-4 text-center">
						<p *ngIf="detailList[0]?.BusinessDescription">
							{{detailList[0]?.BusinessDescription}}
						</p>
						<p *ngIf="!detailList[0]?.BusinessDescription">
							No Description available.
						</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="cardimg text-center pin-offer">
						<div *ngIf="detailList[0]?.OfferName" class="back-img"
							style="background-image: url('/assets/school-Detail/offercard.png')">
							<p class="title" (click)="openLink(detailList[0]?.Offerlink)">{{detailList[0]?.OfferName}}
							</p>
							<div class="inner-div">
								<p class="subtext">{{detailList[0]?.OfferStartDate}}-{{detailList[0]?.OfferEndDate}}</p>
								<p class="t&c"><a style="color: #fff;" [routerLink]="['/terms-conditions']"
										routerLinkActive="router-link-active">Tems & conditions</a></p>
							</div>

						</div>
						<div *ngIf="!detailList[0]?.OfferName" class="back-img"
							style="background-image:url('/assets/school-Detail/no-offer-card.png')"
							[hidden]="!detailList[0]"></div>
					</div>
				</div>
				<div *ngIf="!detailList[0] ">
					No Data available.
				</div>
			</div>
		</div>

	</div>
	<!-- map view -->
	<div class="container mb-5 mt-4">
		<div class="map pb-3" #map></div>
	</div>

	<!-- map view completed -->

	<!-- near by deals -->
	<!-- <div class=" near-by-deals text-center mt-5 mb-5">
    <div class="container">
      <h2>Near By Deals</h2>
      <div class="row">
        <div class="col-md-4 mb-5 mt-4" *ngFor="let item of foodCardArray">
          <div class="card ">
            <img class="card-img" src="{{item.imgSrc}}" alt="Card image">
            <div class="card-overlay">
              <h5 class="card-title text-center">{{item.discountText}}</h5>
            </div>
            <div class="card-body p-2">
              <img src="./assets/school-Detail/pin.png" />
              <p>{{item.text}}</p>
              <div class="last-part pt-1">
                <div class="d-inline-block">
                  <span>4.1</span>
                  <img *ngFor="let i of [0,1,2,3]" src="./assets/school-Detail/star.png" />
                  <img src="./assets/school-Detail/star-2.png" />
                </div>
                <div class="open-at-div float-right">
                  <span>open: mon-fri - 11am to 08pm </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
	<!-- near by deals -->

</div>
<app-contactus></app-contactus>