<div class="school-card-section">
  <div class="bg-content pt-5 pb-5">
    <div class="container text-center pt-5 title">
      <h1 class="mt-5 pt-4 text-light">FAQ</h1>
    </div>
  </div>

  <!-- school card section -->
  <div class="fancard-details pt-3 pb-5">



    <div class="container">
      <div class="detailsBtn">
        <ul id="myTabs" class="nav nav-pills nav-justified" role="tablist" data-tabs="tabs">
          <li class="studentLink active"><a class="nav-link active d-flex justify-content-center align-items-center"
              href=" #accordion" data-toggle="tab">
              <p>Student</p>
            </a></li>
          <li class="businessLink"><a class="nav-link d-flex justify-content-center align-items-center"
              href=" #accordion2" data-toggle="tab">
              <p>Business</p>
            </a></li>
          <li class="schoolLink"><a class="nav-link d-flex justify-content-center align-items-center"
              href=" #accordion3" data-toggle="tab">
              <p>School</p>
            </a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade show active" id="accordion">
            <div class="hrBorder mt-5">
              <div class="hrBorder-header mt-4 mb-4" id="headingOne">
                <h5 class="mb-0 mr-3 ml-3">
                  <a class="hrBorder-header-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    Lorem lpsum is simply dummy text of the printing and typesetting industry.
                  </a>
                  <i class="fa fa-plus" aria-hidden="true" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="false" aria-controls="collapseOne"></i>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="hrBorder-body">
                  <p class="accordion-text mr-3 ml-3 mt-3 mb-3">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et.
                  </p>
                </div>
              </div>
            </div>

            <div class="hrBorder mt-3">
              <div class="hrBorder-header mt-4 mb-4" id="headingTwo">
                <h5 class="mb-0 mr-3 ml-3">
                  <a class="hrBorder-header-link" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Lorem lpsum is simply dummy text of the printing and typesetting industry.
                  </a>
                  <i class="fa fa-plus" aria-hidden="true" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo"></i>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="hrBorder-body">
                  <p class="accordion-text mr-3 ml-3 mt-3 mb-3">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et.
                  </p>
                </div>
              </div>
            </div>

            <div class="hrBorder mt-3">
              <div class="hrBorder-header mt-4 mb-4" id="headingThree">
                <h5 class="mb-0 mr-3 ml-3">
                  <a class="hrBorder-header-link" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Lorem lpsum is simply dummy text of the printing and typesetting industry.
                  </a>
                  <i class="fa fa-plus" aria-hidden="true" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree"></i>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="hrBorder-body">
                  <p class="accordion-text mr-3 ml-3 mt-3 mb-3">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et.
                  </p>
                </div>
              </div>
            </div>

            <div class="hrBorder mt-3">
              <div class="hrBorder-header mt-4 mb-4" id="headingFour">
                <h5 class="mb-0 mr-3 ml-3">
                  <a class="hrBorder-header-link" data-toggle="collapse" data-target="#collapseFour"
                    aria-expanded="false" aria-controls="collapseFour">
                    Lorem lpsum is simply dummy text of the printing and typesetting industry.
                  </a>
                  <i class="fa fa-plus" aria-hidden="true" data-toggle="collapse" data-target="#collapseFour"
                    aria-expanded="false" aria-controls="collapseFour"></i>
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="hrBorder-body">
                  <p class="accordion-text mr-3 ml-3 mt-3 mb-3">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et.
                  </p>
                </div>
              </div>
            </div>

            <div class="hrBorder mt-3">
              <div class="hrBorder-header mt-4 mb-4" id="headingFive">
                <h5 class="mb-0 mr-3 ml-3">
                  <a class="hrBorder-header-link" data-toggle="collapse" data-target="#collapseFive"
                    aria-expanded="false" aria-controls="collapseFive">
                    Lorem lpsum is simply dummy text of the printing and typesetting industry.
                  </a>
                  <i class="fa fa-plus" aria-hidden="true" data-toggle="collapse" data-target="#collapseFive"
                    aria-expanded="false" aria-controls="collapseFive"></i>
                </h5>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="hrBorder-body">
                  <p class="accordion-text mr-3 ml-3 mt-3 mb-3">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et.
                  </p>
                </div>
              </div>
            </div>

            <div class="hrBorder mt-3">
              <div class="hrBorder-header mt-4 mb-4" id="headingSix">
                <h5 class="mb-0 mr-3 ml-3">
                  <a class="hrBorder-header-link" data-toggle="collapse" data-target="#collapseSix"
                    aria-expanded="false" aria-controls="collapseSix">
                    Lorem lpsum is simply dummy text of the printing and typesetting industry.
                  </a>
                  <i class="fa fa-plus" aria-hidden="true" data-toggle="collapse" data-target="#collapseSix"
                    aria-expanded="false" aria-controls="collapseSix"></i>
                </h5>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="hrBorder-body">
                  <p class="accordion-text mr-3 ml-3 mt-3 mb-3">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et.
                  </p>
                </div>
              </div>
            </div>

            <div class="hrBorder mt-3 mb-5">
              <div class="hrBorder-header mt-4 mb-4" id="headingSeven">
                <h5 class="mb-0 mr-3 ml-3">
                  <a class="hrBorder-header-link" data-toggle="collapse" data-target="#collapseSeven"
                    aria-expanded="false" aria-controls="collapseSeven">
                    Lorem lpsum is simply dummy text of the printing and typesetting industry.
                  </a>
                  <i class="fa fa-plus" aria-hidden="true" data-toggle="collapse" data-target="#collapseSeven"
                    aria-expanded="false" aria-controls="collapseSeven"></i>
                </h5>
              </div>
              <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                <div class="hrBorder-body">
                  <p class="accordion-text mr-3 ml-3 mt-3 mb-3">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="accordion2">
            <div class="hrBorder mt-5">
              <div class="hrBorder-header mt-4 mb-4" id="headingOne">
                <h5 class="mb-0 mr-3 ml-3">
                  <a class="hrBorder-header-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    Lorem lpsum is simply
                  </a>
                  <i class="fa fa-plus" aria-hidden="true" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="false" aria-controls="collapseOne"></i>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion2">
                <div class="hrBorder-body">
                  <p class="accordion-text mr-3 ml-3 mt-3 mb-3">
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="accordion3">
            <div class="hrBorder mt-5">
              <div class="hrBorder-header mt-4 mb-4" id="headingOne">
                <h5 class="mb-0 mr-3 ml-3">
                  <a class="hrBorder-header-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    Lorem lpsum
                  </a>
                  <i class="fa fa-plus" aria-hidden="true" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="false" aria-controls="collapseOne"></i>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion3">
                <div class="hrBorder-body">
                  <p class="accordion-text mr-3 ml-3 mt-3 mb-3">
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum

                    shoreditch et.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-contactus></app-contactus>
  </div>
</div>
