<div class="school-card-section">
  <div class="bg-content pt-5 pb-5">
    <div class="container text-center pt-5 title">
      <h1 class="mt-5 pt-4 text-light">Purchase Order</h1>
    </div>
  </div>

  <div class="contact-form text-center pt-5 pb-5">
    <div class="container">
      <h2>Purchase Order Form</h2>
      <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
      <form [formGroup]="purchaseOrderForm">
        <div class="row pt-4">
          <div class="col-md-6 p-2">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="School Name" formControlName="high_school_name">
            <p class="error-text" *ngIf="purchaseOrderFormSubmitted && purchaseOrderForm.controls.high_school_name.errors?.required">School
              name is required.
            </p>
          </div>
          <div class="col-md-6 p-2">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="School Email" formControlName="high_school_email">
            <p class="error-text"
              *ngIf="purchaseOrderFormSubmitted && purchaseOrderForm.controls.high_school_email.errors?.required">School
              email is required.
            </p>
                    <p class="error-text" *ngIf="purchaseOrderFormSubmitted && purchaseOrderForm.controls.high_school_email.errors?.email">Email id is not
                      valid.</p>

          </div>
          <div class="col-md-6 p-2">
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Mobile Number" formControlName="school_mobile_number">
            <p class="error-text"
              *ngIf="purchaseOrderFormSubmitted && purchaseOrderForm.controls.school_mobile_number.errors?.required">Mobile
              number is required.
            </p>
            <!-- <p class="error-text"
              *ngIf="purchaseOrderFormSubmitted && purchaseOrderForm.controls.high_school_email.errors?.email">Email id is not
              valid.</p> -->

          </div>
          <div class="col-md-6 p-2">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Director Name" formControlName="director_name">
            <p class="error-text"
              *ngIf="purchaseOrderFormSubmitted && purchaseOrderForm.controls.director_name.errors?.required">Director name is required.
            </p>
            <!-- <p class="error-text"
                        *ngIf="purchaseOrderFormSubmitted && purchaseOrderForm.controls.high_school_email.errors?.email">Email id is not
                        valid.</p> -->

          </div>
          <div class="col-md-6 p-2">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Shipping Name & Address" formControlName="shipping_details">
            <p class="error-text"
              *ngIf="purchaseOrderFormSubmitted && purchaseOrderForm.controls.shipping_details.errors?.required">
              Shipping details are required.
            </p>
          </div>
          <div class="col-md-6 p-2">
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Quantity" formControlName="order_qty">
            <p class="error-text" *ngIf="purchaseOrderFormSubmitted && purchaseOrderForm.controls.order_qty.errors?.required">Order quantity is required.
            </p>
          </div>
          <div class="col-md-6 p-2">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Special Instruction" formControlName="special_instruction">
            <p class="error-text" *ngIf="purchaseOrderFormSubmitted && purchaseOrderForm.controls.special_instruction.errors?.required">
              Special Instruction is required.</p>
          </div>
          <div class="col-md-6 p-2">
            <!-- <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Special Instruction" formControlName="special_instruction">
            <p class="error-text"
              *ngIf="purchaseOrderFormSubmitted && purchaseOrderForm.controls.special_instruction.errors?.required">
              Special Instruction is required.</p> -->
          </div>
          <div class="btn-div m-auto pt-5">
            <button type="button" class="btn btn-primary" (click)="orderSubmit()">Submit</button>
          </div>
        </div>
      </form>
      <!-- sucess alert -->
      <div class="alert alert-success mt-4 mb-4 text-center" *ngIf="responseText">
        <strong> {{responseText}}</strong>
      </div>
    </div>
  </div>

  <app-contactus></app-contactus>
