<div class="privacy-section">
    <div class="bg-content pt-5 pb-5">
        <div class="container text-center pt-5 title">
            <h1 class="mt-5 pt-4 text-uppercase text-light ">Privacy Policy</h1>
        </div>
    </div>


    <div class="about-desc about-desc pt-5 pb-5">
        <div class="container">
            <!-- <div class="row"> -->
            <!-- <div class="col m-3">
            
            <ol>
              <li>By using 1fancard.com, you agree to accept all terms and conditions written here. You must not use 1fancard.com if you disagree with any of these Standard Terms and Conditions.</li>
              <li>Other than the content owned by advertisers, under these Terms, One Team America, LLC owns all the intellectual property rights and materials contained on 1fancard.com. You are granted limited license only for purposes of viewing the material contained on 1fancard.com.</li>
              <li>
                You are specifically restricted from all of the following
                  <ul style="list-style-type:disc;margin-left:15px;">
                    <li *ngFor="let item of liList">{{item.text}}</li>
                  </ul>
              </li>
            </ol>
            <p>Your Content
              In these 1fancard.com Standard Terms and Conditions, “Your Content” shall mean any audio, video text, 
              images or other material you choose to display on 1fancard.com. By displaying Your Content, you grant One Team America, LLC a non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media. Your Content must be your own and must not be invading any third-party’s rights. One Team America, 
              LLC reserves the right to remove any of Your Content from this Website at any time without notice.</p>
              <ol>
                  <li *ngFor="let item of OlList">{{item.text}}</li>
              </ol>
        </div>
      </div>

      <div>
        <p>This privacy policy has been compiled to better serve those who are concerned with how their 
          'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, 
          is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify 
          an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, 
          use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
          
          <p>What personal information do we collect from the people that visit our blog, website or app?</p>
          <p> When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address or other details to help you with your experience.</p>      
          <p> When do we collect information?</p> 
          <p> We collect information from you when you fill out a form or enter information on our site.</p>
          <p>How do we use your information?</p>
          <ul style="list-style-type:none;">
              We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
              <li>- To send periodic emails regarding your order or other products and services.</li>
          </ul>

          <p>How do we protect your information?</p>
          <p>We do not use vulnerability scanning and/or scanning to PCI standards.</p>
          <p>We only provide articles and information. We never ask for credit card numbers.</p>
          <p>We do not use Malware Scanning.</p>

          <p *ngFor="let item of pList">{{item.text}}</p>
          <ul style="list-style-type:disc;">
              You will be notified of any Privacy Policy changes:
              <li style="margin-left:15px;">On our Privacy Policy Page</li>
          </ul>
          <ul style="list-style-type:disc;">
              Can change your personal information:
              <li style="margin-left:15px;">By emailing us</li>
          </ul>
          <p *ngFor="let item of pNextList">{{item.text}}</p>
          <ul style="list-style-type:disc;">
              YWe will notify you via email
              <li style="margin-left:15px;">Within 7 business days</li>
          </ul>
          <ul style="list-style-type:disc;">
              We will notify the users via in-site notification
              <li style="margin-left:15px;">Within 7 business days</li>
          </ul>
          <p>
              We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.
          </p>
          <p>CAN SPAM Act</p>
          <p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.</p>
          <ul style="list-style-type:disc;">
              We collect your email address in order to:
              <li style="margin-left:15px;">Market to our mailing list or continue to send emails to our clients after the original transaction has occurred.</li>
          </ul>
          <ul style="list-style-type:disc;">
              To be in accordance with CANSPAM, we agree to the following:
              <li  *ngFor="let item of liNextList" style="margin-left:15px;">{{item.text}}</li>
          </ul>
          <ul style="list-style-type:disc;">
              If at any time you would like to unsubscribe from receiving future emails, you can email us at
              <li   style="margin-left:15px;">If at any time you would like to unsubscribe from receiving future emails, you can email us at</li>
          </ul>
          <p>
              Contacting Us
          </p>
          <p>
            One Team America, LLC<br>
            5758 Blackshire Path  <br>
            Inver Grove Heights, MN 55076  <br>         
            United States      <br>    
            info@1fancard.com    <br>         
            1fancard.com
          </p>
          <p>Last Edited on 2016-09-14</p>
      </div> -->
            <p class="p1">Privacy Policy</p>
            <p class="p2">One Team America LLC built the FanCard App as a Free app. This SERVICE is provided by One Team America LLC at no cost and is intended for use as is.</p>
            <p class="p2">This page is used to inform visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service.</p>
            <p class="p2">If you choose to use our Service, then you agree to the collection and use of information in relation to this policy. The Personal Information that we collect is used for providing and improving the Service. We will not use or share your information
                with anyone except as described in this Privacy Policy.</p>
            <p class="p2">The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at FanCard App unless otherwise defined in this Privacy Policy.</p>
            <p class="p2">Information Collection and Use</p>
            <p class="p2">For a better experience, while using our Service, we may require you to provide us with certain personally identifiable information, including but not limited to GPS Location. The information that we request will be retained by us and used
                as described in this privacy policy.</p>
            <p class="p2">The app does use third party services that may collect information used to identify you.</p>
            <p class="p2">Link to privacy policy of third party service providers used by the app</p>
            <ul class="ul1">
                <li class="li3">Google Play Services</li>
            </ul>
            <p class="p2">Log Data</p>
            <p class="p2">We want to inform you that whenever you use our Service, in a case of an error in the app we collect data and information (through third party products) on your phone called Log Data. This Log Data may include information such as your device
                Internet Protocol (&ldquo;IP&rdquo;) address, device name, operating system version, the configuration of the app when utilizing our Service, the time and date of your use of the Service, and other statistics.</p>
            <p class="p2">Cookies</p>
            <p class="p2">Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent to your browser from the websites that you visit and are stored on your device's internal memory.</p>
            <p class="p2">This Service does not use these &ldquo;cookies&rdquo; explicitly. However, the app may use third party code and libraries that use &ldquo;cookies&rdquo; to collect information and improve their services. You have the option to either accept
                or refuse these cookies and know when a cookie is being sent to your device. If you choose to refuse our cookies, you may not be able to use some portions of this Service.</p>
            <p class="p2">Service Providers</p>
            <p class="p2">We may employ third-party companies and individuals due to the following reasons:</p>
            <ul class="ul1">
                <li class="li3">To facilitate our Service;</li>
                <li class="li3">To provide the Service on our behalf;</li>
                <li class="li3">To perform Service-related services; or</li>
                <li class="li3">To assist us in analyzing how our Service is used.</li>
            </ul>
            <p class="p2">We want to inform users of this Service that these third parties have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information
                for any other purpose.</p>
            <p class="p2">Security</p>
            <p class="p2">We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100%
                secure and reliable, and we cannot guarantee its absolute security.
            </p>
            <p class="p2">Links to Other Sites</p>
            <p class="p2">This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of
                these websites. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.</p>
            <p class="p2">Children&rsquo;s Privacy</p>
            <p class="p2">These Services do not address anyone under the age of 13. We do not knowingly collect personally identifiable information from children under 13. In the case we discover that a child under 13 has provided us with personal information, we immediately
                delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.</p>
            <p class="p2">Changes to This Privacy Policy</p>
            <p class="p2">We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately
                after they are posted on this page.</p>
            <p class="p2">Contact Us</p>
            <p class="p2">If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at hello@fancard.app.
            </p>
            <!-- </div> -->
        </div>




    </div>